<mat-dialog-content *ngIf="directLogin" class="app-login">
    <form *ngIf="form" [formGroup]="form">
        <div class="flex-column">
            <mat-form-field>
                <mat-label>{{'Email'}}</mat-label>
                <input name="email" matInput [formControl]="form.controls.email">
                <mat-hint style="color: orange;">{{error}}</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'Password'}}</mat-label>
                <input name="password" matInput [formControl]="form.controls.password">
                <mat-hint style="color: orange;">{{error}}</mat-hint>
            </mat-form-field>
        </div>
        <mat-dialog-actions align="center">
            <button mat-stroked-button (click)="submit()" class="button--create"><p>Submit</p></button>
            <button mat-stroked-button (click)="cancelDirectLogin()"><p>Cancel</p></button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>

<mat-dialog-content *ngIf="googleLogin" style="padding: 1rem 2rem;">
    <div class="flex-row" style="width: 45rem; height: 15rem;">
        <div class="flex-column" style="width:max-content; justify-content: flex-start;">
            <div class="flex-row"><span class="material-symbols-outlined">trending_flat</span> <h5>Login to Health Center system using contract email address</h5></div>
            <div class="flex-row" style="justify-content: flex-start;"> <span class="material-symbols-outlined">trending_flat</span> <h5>Account activation might take a few hours</h5></div>
            <div class="flex-row"> <span class="material-symbols-outlined">trending_flat</span> <h5>Contact administrators if facing issues accessing your account</h5></div>
        </div>
        <div class="flex-column column">
            <h4 class="title">Login with Health Center credentials</h4>
                
            <div id="g_id_onload"
                data-client_id="234359946846-qk29f6skfdjaaoklv41g49f1du23c177.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="handleCredentialResponse"
                data-auto_prompt="false">
            </div>
        
            <div id="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left"
                data-width="400">
                
            </div>
        </div>
    </div>
</mat-dialog-content>