form {
    width: 30vw;
}
.material-symbols-outlined {
    align-self: baseline;
}

mat-form-field {
    margin-bottom: 1.2rem;
}

.column {
    align-items: center;
    text-align: center;
    margin: auto;
}
