.actions {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    .btn {
        margin: 1rem;
        height: auto;
        padding: 0 10px;
        mat-divider {
            width: 180px;
        }
    }
    #google-button {
        border: none;
        background: none;
    }
}