<mat-toolbar>
    <h2><a [routerLink]="['/']">Health Center</a></h2>
    <p *ngIf="me" class="me"><em>logged in as: {{me.userRole}}</em></p>
    <span class="spacer"></span>
    <div *ngIf="time && time !== '00:00'" class="time">
        <p>{{time}}</p>
    </div>
    <button *ngIf="!me" mat-stroked-button type="button" color="secondary"  [matMenuTriggerFor]="menu">{{ 'Log In' }}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDirectLoginClick()">Direct Login</button>
        <button mat-menu-item (click)="onGoogleLoginClick()">Doctor Login</button>
        <button mat-menu-item (click)="onDirectLoginClick()">Bank Login</button>
      </mat-menu>
    <button *ngIf="me" mat-stroked-button type="button" color="secondary" (click)="logOut()">{{ 'Log Out' }}</button>
</mat-toolbar>
<div class="content-view-wrapper">
    <div class="sidenav" style="background-color: rgb(172,188,207);"  *ngIf="userRole">
        <app-sidenav [isUserUpdated]="isUserUpdated" [userRole]="userRole" [isRecords]="isRecords" [isNowAppointment]="nowAppointment"></app-sidenav>
    </div>
    <div class="content" [ngClass]="userRole ? 'container': ''">
        <router-outlet></router-outlet>
    </div>       
</div>
