<mat-sidenav-container>
    <mat-sidenav 
        #sidenav 
        [opened]="isDesktop || showSidenav" 
        class="sidenav" 
        [mode]="!isDesktop ? 'over' : 'side'"
    >    
        <mat-nav-list>
            <a [routerLinkActiveOptions]="{ exact: true }" mat-list-item [routerLink]="['/home']" *ngIf="!isDesktop" routerLinkActive="activeLink" (click)="$event.stopPropagation(); onClickNavLink();">
                <div class="flex">
                    <span class="icon--main material-symbols-outlined" matTooltip="Home">home</span>
                    <h5 class="color--main--secondary">{{ 'Home' }}</h5>
                </div>
            </a>
            <a [routerLinkActiveOptions]="{ exact: false }" mat-list-item [routerLink]="['/home', 'user']" routerLinkActive="activeLink" (click)="$event.stopPropagation(); onClickNavLink();">
                <div class="flex">
                    <span class="icon--main material-symbols-outlined" matTooltip="My Account">account_box</span>
                    <h5 class="color--main--secondary">{{ 'My Account' }}</h5>
                </div>
            </a>
            <a mat-list-item (click)="onClickNavLink(); $event.stopPropagation();" [routerLink]="['/home','appointments']" *ngIf="userRole !== 'admin' && isUserUpdated" routerLinkActive="activeLink">
                <div class="flex" >
                    <span class="icon--main material-symbols-outlined" matTooltip="Appointments">calendar_clock</span>
                    <h5 class="color--main--secondary">{{ 'Appointments' }}</h5>
                </div>
            </a>
            <a mat-list-item (click)="onClickNavLink(); $event.stopPropagation();" [routerLink]="['/home','records']" *ngIf="isUserUpdated && userRole !== 'admin'" routerLinkActive="activeLink">
                <div class="flex">
                    <span class="icon--main material-symbols-outlined" matTooltip="Medical Records">list_alt</span>
                    <h5 class="color--main--secondary">{{ 'Medical Records' }}</h5>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','patients']" (click)="onClickNavLink(); $event.stopPropagation();" *ngIf="userRole === 'admin'" routerLinkActive="activeLink">
                <div class="flex">
                    <span class="icon--main material-symbols-outlined" matTooltip="Patients">patient_list</span> 
                    <h5 class="color--main--secondary">{{ 'Patients' }}</h5>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','users']" (click)="onClickNavLink(); $event.stopPropagation();" *ngIf="userRole === 'admin'" routerLinkActive="activeLink">
                <div class="flex" >
                    <span class="icon--main material-symbols-outlined" matTooltip="Doctors">recent_actors</span> 
                    <h5 class="color--main--secondary">{{ 'Doctors' }}</h5>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','messages']" (click)="onClickNavLink(); $event.stopPropagation();" routerLinkActive="activeLink"  *ngIf="userRole !== 'patient' && isUserUpdated">
                <div class="flex">
                    <span class="icon--main material-symbols-outlined" matTooltip="Messages">forum</span> 
                    <h5 class="color--main--secondary">{{ 'Messages' }}</h5>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','feedback']" (click)="onClickNavLink(); $event.stopPropagation();" routerLinkActive="activeLink"  *ngIf="userRole === 'admin'">
                <div class="flex"  id="feedback">
                    <span class="icon--main material-symbols-outlined" matTooltip="Feedback">feedback</span> 
                    <h5 class="color--main--secondary">{{ 'Feedback' }}</h5>
                </div>
            </a>
        </mat-nav-list>
        <div class="resize-handle" #resize></div>
    </mat-sidenav>
    
    <mat-sidenav-content  #sidenavContent class="content flex-column" [ngClass]="isHomeRoute ? 'bg--gray--cold--secondary': 'bg--white--cold'">  
        <div class="page"  *ngIf="isHomeRoute && !isUserUpdated && !isLoading">
            <div class="block--bordered--with-btn" >
                <div class="flex-column" style="width: 60%; padding-inline:1rem;">
                    <h2 class="title color--gray--cold--primary">Welcome!</h2>
                    <h4 class="title" style="font-size: 2rem;">Complete setting up your account</h4>
                    <p><em>Please fill out your contact details to use Health Center services. By adding the information you agree to our Terms of Service and allow us handling your personal details. We guarantee no third parties have access to the details you provide. All personal information is saved only in our internal database. Requested contact details will be used for emergency contacting and billing.</em></p>
                </div>
                <button class="button--create" mat-stroked-button><p><a [routerLink]="['/home','user']">{{'Update Information'}}</a></p></button>
            </div>
        </div>
        
        
        <div class="page" *ngIf="isHomeRoute && !isLoading && isUserUpdated">
            <span *ngIf="showIcon" class="material-symbols-outlined" id="bg-icon" style="top:34%;">
                calendar_clock
            </span>
            <app-dashboard [me]="me" *ngIf="me" (isNextAppointment)="displayIcon($event)"></app-dashboard>
            
            <!-- PATIENT -->
            <!-- <div *ngIf="userRole ==='patient' && !isLoading" >
                <div class="block--bordered--home-page bg--white--cold" *ngIf="nextId"  [ngStyle]="{height: !isDesktop && '50%'}">
                    <h4 class="font title color--main--secondary">Next appointment</h4>

                    <div [ngClass]="isDesktop ? 'flex-row': 'flex-column'">
                        <div class="flex-column" *ngIf="nextStart">
                            <p class="title color--gray--cold--primary">Appoinment time</p>
                            <div class="time-wrapper">
                                <h3 class="color--pink--cloudy--primary">{{nextStart.dayName}},</h3>
                                <h1 class="color--main--secondary">{{nextStart.time}}</h1>
                                <h4><em class="color--pink--cloudy--primary">{{nextStart.date}}</em></h4>
                            </div>
                        </div>
                        <div class="flex-column" id="patient-details" [ngStyle]="{width: !isDesktop ? '100%':'52%'}">
                            <p class="title color--gray--cold--primary">Appointment information</p>
                            <div class="flex-column">
                                <div class="flex-row">
                                    <div class="block--bordered--sm border-color-main">
                                        <p class="font">Doctor's name</p>
                                    </div>
                                    <div class="block--bordered--sm border-color-main">
                                        <p class="right">{{nextAppointmentName}}</p>
                                    </div>
                                </div>
                                <div class="flex-row">
                                    <div class="block--bordered--sm border-color-main">
                                        <p class="font">Previous visit</p>
                                    </div>
                                    <div class="block--bordered--sm border-color-main">
                                        <p class="right">{{previousAppointmentDate}}</p>
                                    </div>
                                </div>
                                <div class="flex-row" [ngClass]="recordIds.length> 0 && 'clickable'" (click)="recordIds.length> 0 && onOpenRecords()">
                                    <div class="block--bordered--sm border-color-main">       
                                        <p class="font">Medical records</p>
                                    </div>
                                    <div class="block--bordered--sm border-color-main">    
                                        <div class="right">
                                            <span *ngIf="recordIds.length > 0" class="material-symbols-outlined" matTooltip="Open my medical records" style="line-height: inherit;">
                                                open_in_new
                                            </span>
                                            <span *ngIf="recordIds.length === 0">
                                                -
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="flex-column" [ngStyle]="{marginTop: !nextId ? '30%':'auto'}">
                    <div class="flex-row">
                        <div class="block--bordered--sm border-color-main"><p class="font">Pending appointment requests</p></div>
                        <div class="block--bordered--sm border-color-main"><p class="right"><span>{{countPendingAppointments}}</span></p></div>
                    </div>
                    <div class="flex-row">
                        <div class="block--bordered--sm border-color-main"><p class="font">Upcoming appointments</p></div>
                        <div class="block--bordered--sm border-color-main"><p class="right"><span>{{countUpcomingAppointments}}</span></p></div>
                    </div>
                    <div class="flex-row">
                        <div class="block--bordered--sm border-color-main"><p class="font">Missed appointment requests</p></div>
                        <div class="block--bordered--sm border-color-main"><p class="right"><span>{{countMissedAppointments}}</span></p></div>
                    </div>
                    <div class="flex-row">
                        <div class="block--bordered--sm border-color-main"><p class="font">Medical records</p></div>
                        <div class="block--bordered--sm border-color-main"><p class="right"><span>{{countRecords}}</span></p></div>
                    </div>
                    <div class="flex-row">
                        <div class="block--bordered--sm border-color-pink-deep"><p class="font">Last log out:</p></div>
                        <div class="block--bordered--sm border-color-pink-deep"><p class="right">{{lastLogOut}}</p></div>
                    </div>
                </div>
            </div> -->
        </div> 
        <div *ngIf="!isHomeRoute" >
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
    <router-outlet></router-outlet>
</mat-sidenav-container>

