<mat-sidenav-container>
    <mat-sidenav [opened]="true" mode="side" class="sidenav">
        <mat-nav-list style="padding:0;">
            <a mat-list-item [routerLink]="['/home', 'user']" *ngIf="userRole" routerLinkActive="activeLink">
                <div class="flex">
                    <span>{{ 'My Account' }}</span>
                    <span [ngStyle]="{visibility: !isUserUpdated ? 'visible':'hidden'}" class="icon material-symbols-outlined">info</span>
                </div>
            </a>
            <a mat-list-item (click)="onAppointmentsClick(); isHomeRoute=!isHomeRoute" [routerLink]="['/home','appointments']" *ngIf="userRole !== 'admin' && isUserUpdated" routerLinkActive="activeLink">
                <div class="flex" >
                    <span>{{ 'Appointments' }}</span>
                    <span [ngStyle]="{visibility: !isUserUpdated || isNowAppointment ? 'visible':'hidden'}" class="icon material-symbols-outlined">info</span>
                </div>
            </a>
            <a mat-list-item (click)="isHomeRoute=!isHomeRoute" [routerLink]="['/home','records']" *ngIf="isUserUpdated && (userRole === 'patient' && countRecords>0 || userRole==='doctor')" routerLinkActive="activeLink">
                <div class="flex">
                    <span>{{ 'Medical Records' }}</span>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','users']" (click)="isHomeRoute=!isHomeRoute" *ngIf="userRole === 'admin'" routerLinkActive="activeLink">
                <div class="flex" >
                    <span>{{ 'Doctors' }}</span>
                    <span [ngStyle]="{visibility: countDoctorRequests>0 ? 'visible':'hidden'}" class="icon material-symbols-outlined">info</span>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','patients']" (click)="isHomeRoute=!isHomeRoute" *ngIf="userRole === 'admin'" routerLinkActive="activeLink">
                <div class="flex">
                    <span>{{ 'Patients' }}</span>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','messages']" (click)="isHomeRoute=!isHomeRoute" routerLinkActive="activeLink"  *ngIf="userRole !== 'patient' && isUserUpdated">
                <div class="flex">
                    <span>{{ 'Messages' }}</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
    <mat-sidenav-content class="content">  

        <div class="btn-block"  style="margin: 12rem 18rem;" *ngIf="isHomeRoute && !isUserUpdated && !isLoading">
            <div style="margin-bottom: 2rem;">
                <h3>Welcome!</h3>
                <p class="title" style="font-size: 2rem;">Complete setting up your account</p>
                <em>Please fill out your contact details to use Health Center services. By adding the information you agree to our Terms of Service and allow us handling your personal details. We guarantee no third parties have access to the details you provide. All personal information is saved only in our internal database. Requested contact details will be used for contacting and billing.</em>
            </div>
            <button mat-stroked-button style="width:14rem;"><a [routerLink]="['/home','user']">{{'Update Information'}}</a></button>
        </div>
        
        <div *ngIf="isLoading" class="loading">
            <app-loading></app-loading>
        </div>
        <div class="page" *ngIf="isHomeRoute && !isLoading && isUserUpdated" >
            <div style="position: relative" *ngIf="userRole ==='admin' && clock" @slideInOut>
                <div class="flat next-appointment">
                    <span *ngIf="today" class="material-symbols-outlined" id="bg-icon">
                        event
                    </span>
                    <div class="flex-row">
                        <div class="flex-column">
                            <p class="title">Today is:</p>
                            <div class="time-wrapper" style="font-size: 3.5rem;">
                                <h3>{{today.weekday}},</h3>
                                <p style="font-size:smaller;"><em>{{today.date}}</em></p>
                                <h1>{{clock}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="flex-row"><h2 class="font">New doctor account activation requests </h2><h2><span>{{countDoctorRequests}}</span></h2></div>
                    <div class="flex-row"><h2 class="font">Missed appointment requests</h2><h2><span>{{countMissedAppointments}}</span></h2></div>
                    <div class="flex-row"><h2 class="font">Registered doctors</h2><h2><span>{{countDoctors}}</span></h2></div>
                    <div class="flex-row"><h2 class="font">Registered patients</h2><h2><span>{{countPatients}}</span></h2></div>
                    <div class="flex-row" id="last-login"><h2 class="font">Last log out:</h2><h2><span>{{lastLogOut}}</span></h2></div>
                </div>
            </div>


            <div style="position: relative" *ngIf="userRole ==='doctor' && nextId" [ngStyle]="{'margin-top': !nextId ? '16rem':'inherit'}" @slideInOut>      
                <span *ngIf="nextId" class="material-symbols-outlined" id="bg-icon" >
                    calendar_clock
                </span>
                <div class="flat next-appointment">
                    <h1 class="font" style="margin-top:0;">Next appointment:</h1>

                    <div class="flex-row">
                        <div class="flex-column">
                            <p class="title" style="font-size:medium;">Appoinment time</p>
                            <div class="time-wrapper" style="font-size: 3.5rem;">
                                <h3>{{nextStart.dayName}},</h3>
                                <h1>{{nextStart.time}}</h1>
                                <p style="font-size:smaller;"><em>{{nextStart.date}}</em></p>
                            </div>
                        </div>
                        <div class="flex-column" id="patient-details">
                            <p class="title">Patient's information</p>
                            <div class="block">
                                <div class="flex-row">
                                    <h2 class="font">Name</h2>
                                    <h2><span>{{nextAppointmentName}}</span></h2>
                                </div>
                                <div class="flex-row">
                                    <h2 class="font">Date of birth</h2>
                                    <h2><span>{{nextAppointmentPatientDob}}</span></h2>
                                </div>
                                <div class="flex-row">
                                    <h2 class="font">Previous appointment</h2>
                                    <h2><span>{{previousAppointmentDate}}</span></h2>
                                </div>
                                <div class="flex-row" [ngClass]="recordIds.length> 0 && 'clickable'" (click)="recordIds.length> 0 && onOpenRecords()" >
                                    <h2 class="font">Medical records</h2>
                                    <h2>
                                        <span *ngIf="recordIds.length > 0" class="material-symbols-outlined" matTooltip="Open patient's medical records">
                                            open_in_new
                                        </span>
                                        <span *ngIf="recordIds.length === 0">
                                            -
                                        </span>
                                    </h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="flex-row"><h2 class="font">Appointments today</h2><h2><span>{{countTodayAppointments}}</span></h2></div>
                    <div class="flex-row"><h2 class="font">Total hours today</h2><h2><span>{{countTotalHoursToday}}</span></h2></div>
                    
                    <div class="flex-row"><h2 class="font">Pending appointment requests </h2><h2><span>{{countPendingAppointments}}</span></h2></div>
                    <div class="flex-row"><h2 class="font">Accepted appointments </h2><h2><span>{{countUpcomingAppointments}}</span></h2></div>  
                    <div class="flex-row"><h2 class="font">Missed appointment requests</h2><h2><span>{{countMissedAppointments}}</span></h2></div>
                    <div class="flex-row " id="last-login"><h2 class="font">Last log out:</h2><h2><span>{{lastLogOut}}</span></h2></div>
                 </div>

            </div>


            <div style="position: relative" *ngIf="userRole ==='patient' && nextId" [ngStyle]="{'margin-top': !nextId ? '16rem':'inherit'}" @slideInOut>
                <span class="material-symbols-outlined" id="bg-icon">
                    calendar_clock
                </span>
                <div class="flat next-appointment" *ngIf="nextId">
                    <h1 class="font" style="margin-top:0;">Next appointment:</h1>

                    <div class="flex-row">
                        <div class="flex-column" *ngIf="nextStart">
                            <p class="title" style="font-size:medium;">Appoinment time</p>
                            <div class="time-wrapper" style="font-size: 3.5rem;">
                                <h3>{{nextStart.dayName}},</h3>
                                <h1>{{nextStart.time}}</h1>
                                <p style="font-size:smaller;"><em>{{nextStart.date}}</em></p>
                            </div>
                        </div>
                        <div class="flex-column" id="patient-details">
                            <p class="title">Appointment information</p>
                            <div class="block">
                                <div class="flex-row">
                                    <h2 class="font">Doctor's name</h2>
                                    <h2><span>{{nextAppointmentName}}</span></h2>
                                </div>
                                <div class="flex-row">
                                    <h2 class="font">Previous appointment</h2>
                                    <h2><span>{{previousAppointmentDate}}</span></h2>
                                </div>
                                <div class="flex-row" [ngClass]="recordIds.length> 0 && 'clickable'" (click)="recordIds.length> 0 && onOpenRecords()" >
                                    <h2 class="font">Medical records</h2>
                                    <h2>
                                        <span *ngIf="recordIds.length > 0" class="material-symbols-outlined" matTooltip="Open my medical records">
                                            open_in_new
                                        </span>
                                        <span *ngIf="recordIds.length === 0">
                                            -
                                        </span>
                                    </h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="block">
                    
                    <div class="flex-row"><h2 class="font">Pending appointment requests </h2><h2><span>{{countPendingAppointments}}</span></h2></div>
                    <div class="flex-row"><h2 class="font">Upcoming appointments </h2><h2><span>{{countUpcomingAppointments}}</span></h2></div>     
                    <div class="flex-row"><h2 class="font">Missed appointment requests</h2><h2><span>{{countMissedAppointments}}</span></h2></div>
                    <div class="flex-row"><h2 class="font">Medical records </h2><h2><span>{{countRecords}}</span></h2></div>      
                    <div class="flex-row" id="last-login"><h2 class="font">Last log out:</h2><h2><span>{{lastLogOut}}</span></h2></div>
                  </div>
            </div>
        </div> 
        <div *ngIf="!isHomeRoute">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

