#bg-icon {
    position: absolute;
    font-size: 34rem;
    right: -90px;
    top: -125px;
    transform: rotate(21deg);
    color: darkgray;
    opacity: 0.2;

}
.btn-block {
    width: 50rem;
    margin: 12rem auto 8rem auto;
    position:relative;
    h1 {
        color:rgb(151, 148, 148);
    }
}