<mat-tab-group 
    mat-stretch-tabs="false" 
    mat-align-tabs="start" 
    class="content bg--white--cold" 
>
    <mat-tab label="feedback">
        <ng-template mat-tab-label>
            <span class="tab-label">Customer Feedback</span>
        </ng-template>
        <div>
            <div class="flex-row block--bordered--md info">
                <span class="icon material-symbols-outlined">info</span>
                <p *ngIf="countFeedback > 0">Feedback from Health Center website</p> 
                <p *ngIf="countFeedback === 0">No feedback yet</p> 
                <span>{{' '}}</span>
            </div>
            <div *ngIf="isLoading" class="loading"  >
                <app-loading></app-loading>
            </div>
            <app-no-content *ngIf="countFeedback===0" message="No feedback"></app-no-content>
            
            <div class="page" @slideInOut *ngIf="!isLoading && countFeedback>0">
                <div class="page--text-block">
                    <div class="flex-row" style="justify-content: flex-start;">
                        <h4 class="font title color--main--secondary">Customer feedback</h4>
                        <span class="title--count">{{countFeedback}}</span>
                    </div>
                    <p>Unread: {{countUnread}}</p>
                </div>
                <div class="table-wrapper">
                    <app-table 
                        *ngIf="!isLoading"
                        [dataSource]="dataSource" 
                        [displayedColumns]="displayedColumns"
                        [buttons]="actions"
                        [length]="length"
                        [userRole]="userRole"
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (action)="onActionClick($event)"
                        (rowClick)="onFeedbackClick($event, async)"
                    >
                    </app-table>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>