@import '../../scss/breakpoints';

.legend {
    position: absolute;
    top: 176px;
    left: 44px;
    width:min-content;
    @include respond-to(desktop-5x){
        width:max-content;
        position:static;
        margin-bottom: 4rem;
        --mdc-form-field-label-text-size:1.5rem;
    }
    @include respond-to(tablet){ 
        width:max-content;
        top:86px;
        left:36px;
    }
    @include respond-to(mobile-6x){ 
        width:min-content;
        top:86px;
        left:0;
        font-size:10px;
    }
}
full-calendar {
    @include respond-to(desktop-5x){
        width:64rem;
    }
    @include respond-to(desktop-6x){
        width:52rem;
    }
    @include respond-to(tablet){
        width:42rem;
    }
    @include respond-to(mobile-6x){
        width:26rem;
    }
}
