
<div *ngIf="isLoading" class="loading">
    <app-loading></app-loading>
</div>
<div class="flex-column" *ngIf="!isLoading">
    <div class="legend">
        <mat-radio-group
            class="flex-column"
            [(ngModel)]="selectedAppointments"
            >
            @for (appointmentSelection of appointmentSelections; track appointmentSelection) {
                <mat-radio-button 
                    [value]="appointmentSelection" 
                    (change)="onCheckboxChange(appointmentSelection)"
                >
                    {{appointmentSelection}}
                </mat-radio-button>
            }
        </mat-radio-group>
    </div>
    <full-calendar
        [options]="calendarOptions"
    >
    </full-calendar>
</div>