<div class="flex-column">
    <div class="legend">
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="flex-column"
            [(ngModel)]="selectedAppointments"
            >
            @for (appointmentSelection of appointmentSelections; track appointmentSelection) {
                <mat-radio-button 
                    class="example-radio-button" 
                    [value]="appointmentSelection" 
                    (change)="onCheckboxChange(appointmentSelection)"
                >
                    {{appointmentSelection}}
                </mat-radio-button>
            }
        </mat-radio-group>
    </div>
    <full-calendar
        [options]="calendarOptions"
        [events]="eventsPromise | async"
    >
    </full-calendar>
</div>