<div *ngIf="injectedData && !isLoading" style="margin:2rem 2rem 0 2rem;">
    <app-search    
        [useAdvanced]="true"
        (advancedSearchValue)="onAdvancedSearch($event)"
        (inputValue)="onFilterValueChange($event)"
        (reset)="onSearchReset($event)"
    >    
    </app-search>
</div>
<div [ngClass]="injectedData && 'dialog-table'">
    <div *ngIf="isLoading" class="loading">
        <app-loading></app-loading>
    </div>

    <table 
        *ngIf="!isLoading"
        mat-table 
        multiTemplateDataRows 
        [dataSource]="dataSource" 
        class="mat-elevation-z8" 
        matSort 
        (matSortChange)="onSortChange($event)"
    >
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.columnDef" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="font">{{ column.header }}</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="column.columnDef === 'online'">
                    <div 
                        [ngClass]="{ 'online': element.online, 'offline': !element.online }" 
                        class="status flex-row"
                    >
                        <div [ngClass]="{ 'online-dot': element.online, 'offline-dot': !element.online }"></div>
                        <p *ngIf="element.online">Active</p>
                        <p *ngIf="!element.online">Offline</p>
                    </div>
                </ng-container>
               
                <ng-container *ngIf="column.columnDef === 'actions'">
                    <div *ngFor="let action of element.actions">
                        <span matTooltip="Activate account" style="margin-right: 20px;" class="material-symbols-outlined" *ngIf="action.text === 'Activate Account'" (click)="onActionClick(action.text, column.id)">bookmark_check</span>
                        <span matTooltip="Cancel request" class="material-symbols-outlined" *ngIf="action.text === 'Cancel Request'" (click)="onActionClick(action.text, column.id)">close</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="column.columnDef === 'draft'">
                    <div *ngIf="element.draft !== undefined">
                        <span *ngIf="element.draft" class="material-symbols-outlined" matTooltip="Saved as draft">draft</span>
                        <span *ngIf="element.draft === false" class="material-symbols-outlined" matTooltip="Saved as record">task</span>
                    </div>
                    <div *ngIf="element.draft === undefined" matTooltip="No record">
                        <span>-</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="column.columnDef === 'record'">
                    <div *ngIf="element.record !== undefined">
                        <span *ngIf="element.record" class="material-symbols-outlined" matTooltip="Record added">task</span>
                    </div>
                    <div *ngIf="element.record === undefined" matTooltip="No record">-</div>
                </ng-container>

                <ng-container *ngIf="column.columnDef === 'howSoonStr'">
                    <div *ngIf="timerService.startHowSoonCountdown(element.howSoonStr) | async as countdown">
                        <span >
                            {{countdown}}
                        </span>
                     </div>
                </ng-container>

                <ng-container *ngIf="column.columnDef === 'howLongAgoStr'">
                    <div *ngIf="timerService.startHowLongAgoCountdown(element.howLongAgoStr) | async as countdown">
                        <span >
                            {{countdown}}
                        </span>
                     </div>
                </ng-container>

                <ng-container *ngIf="column.columnDef === 'pastDate'">
                    <div *ngIf="timerService.startHowLongAgoCountdown(element.pastDate) | async as countdown">
                        <span >
                            {{countdown}}
                        </span>
                     </div>
                </ng-container>

                <ng-container 
                    *ngIf="
                        column.columnDef !== 'online' && 
                        column.columnDef !== 'message' && 
                        column.columnDef !== 'draft'  && 
                        column.columnDef !== 'record'  && 
                        column.columnDef !== 'actions'&&
                        column.columnDef !== 'howSoonStr' &&
                        column.columnDef !== 'howLongAgoStr' &&
                        column.columnDef !== 'pastDate'"
                    >
                    <ng-container *ngIf="element[column.columnDef] === null || element[column.columnDef] === '' || element[column.columnDef] === 'Invalid DateTime'; else value">
                        <span>-</span>
                    </ng-container>
                    <ng-template #value>
                        <div>
                            <span [ngStyle]="element[column.columnDef] === 'Currently online' && {'font-style':'italic'}">{{ element[column.columnDef] }}</span>
                        </div>
                    </ng-template>
                </ng-container>   
                <ng-container *ngIf="column.columnDef === 'name'">
                    <div class="icon">
                        <span *ngIf="element.message" class="material-symbols-outlined" matTooltip="Added message">mail</span>
                    </div>
                </ng-container> 
            </td>
        </ng-container>        
        
        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr 
            mat-row 
            *matRowDef="let row; columns: columnNames"
            (click)="onRowClick(row.id, row.title || undefined)"
            [ngStyle]="{backgroundColor: (markAppointmentId && markAppointmentId === row.id) ? 'aqua': '' }"
            [ngClass]="{'blinking': isNewSender(row), 'bold-row': isUnreadChat(row)}">
        </tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching current search parameters</td>
        </tr> 
    </table>

    <mat-paginator  
        *ngIf="!isLoading"  
        #paginator
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageLimit"
        [pageSizeOptions]="[10, 20, 50, 100]"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>
