table {
    button {
        background-color: rgb(139,149,161);
        height: 1.8rem;
        width: 8rem;
        font-size: 10px;
        text-wrap:nowrap;
    }
    box-shadow: none;
}
mat-form-field {
    width: 100%;
    margin:0;
    &::placeholder{
        font-style: italic;
    }
}
.mat-mdc-row:hover {
    cursor: pointer;
    background-color:rgb(204 212 219);
    
}
.mat-label{
    font-weight: 100;
}
em {
    color:  rgb(78, 84, 90);
    font-size: smaller;
}
.details {
    width: 70%;
    align-self: center;
}
.mark-appointment {
    background-color: aqua;
}
.title {
    margin-bottom:0;
    color: rgb(78, 84, 90);
}
.clickable {
    margin: 1rem auto;
}

.non-clickable:hover {
    cursor: default;
    pointer-events: none;
}

button {
    height: 1.8rem;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.non-click {
    margin:auto;
    cursor: default;
}

.online-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(44 135 44);
    margin-left: 0.5rem;
}
.offline-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(145 146 157);
    margin-left: 0.5rem;
}

@keyframes blink {
    0% {
      background-color: rgb(119, 134, 154);
    }
    50% {
      background-color: initial; 
    }
    100% {
      background-color: rgb(119, 134, 154);
    }
}
  
.blinking {
    animation: blink 1s infinite; 
}
  
.mat-column-name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    line-height: 4rem;
    span {
        margin-right: 10px;
    }
}
.material-symbols-outlined{
    color: rgb(119, 134, 154);
}
.dialog-table {
    padding: 2rem;
    width: 65rem;
    height: 45rem;
    table {
        background-color: transparent;
    }
}
.mat-column-actions {
    display:flex;
    flex-direction: row;
    button {
        margin-right: 15px;
    }
}
.mat-mdc-header-row {
    background: rgb(204 212 219);
    .mat-mdc-header-cell {
        --mat-table-row-item-outline-color: rgb(78, 84, 90);
        font-weight: 800;
        line-height: 4rem;
    }
}
  