@import '../../scss/breakpoints';

table {
    button {
        background-color: rgb(139,149,161);
        height: 1.8rem;
        width: 8rem;
        font-size: 10px;
        text-wrap:nowrap;
    }
    box-shadow: none;
    @include respond-to(mobile-xx) {
        *:not(.material-symbols-outlined){font-size:0.8rem;}
    }
    @include respond-to(small-mobile-x) {
        *:not(.material-symbols-outlined){font-size:11px;}
    }
}
mat-form-field {
    width: 100%;
    margin:0;
    &::placeholder{
        font-style: italic;
    }
}
.mat-mdc-row:hover {
    cursor: pointer;
    background-color:rgb(204 212 219);
    
}
.mat-label{
    font-weight: 100;
}
em {
    color:  rgb(78, 84, 90);
    font-size: smaller;
}
.details {
    width: 70%;
    align-self: center;
}
.mark-appointment {
    background-color: aqua;
}
.title {
    margin-bottom:0;
    color: rgb(78, 84, 90);
}
.clickable {
    margin: 1rem auto;
}

.non-clickable:hover {
    cursor: default;
    pointer-events: none;
}

button {
    height: 1.8rem;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.non-click {
    margin:auto;
    cursor: default;
}

.online-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(44, 135, 44);
    margin-left: 0.5rem;
}
.offline-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(145 146 157);
    margin-left: 0.5rem;
}

@keyframes blink {
    0% {
      background-color: rgb(119, 134, 154);
    }
    50% {
      background-color: initial; 
    }
    100% {
      background-color: rgb(119, 134, 154);
    }
}
  
.blinking {
    animation: blink 1s infinite; 
}

.material-symbols-outlined{
    color: rgb(119, 134, 154);
    @include respond-to(mobile-xx) {
        font-size:1.2rem;
    }
}
.table {
    padding: 2rem;
    width: 65rem;
    height: 35rem;
    table {
        background-color: transparent;
    }
 
}
// .mat-mdc-paginator-container .mat-mdc-paginator-page-size{
//     @include respond-to(small-mobile-x) {
//       display:none!important;
//     }
//   }

.mat-mdc-icon-button{
    padding: 0 !important;
    
}

.mat-mdc-header-row {
    background: rgb(204 212 219);
    .mat-mdc-header-cell {
        --mat-table-row-item-outline-color: rgb(78, 84, 90);
        font-weight: 800;
        line-height: 4rem;
        @include respond-to(small-mobile-x){    
            line-height: 2rem;
        }
    }
}

.action {
    display:inline-flex;
    padding-top:5px;
    width: 2.5rem;
}

.bold-row {
    font-weight: 900;
}
.mat-column-checkbox {
    max-width: 3rem;
 
}
.mat-column-unreadMessages,
.mat-column-draft {
    max-width: 4rem;
    @include respond-to(small-mobile-x) {
        text-align: center;
    }
}
.mat-column-online {
    min-width: 4rem;
    padding-left: 2rem;
}

.mat-column-actions {
    max-width: 7rem;
    border-right: 0.5px solid #cbcbcb;
    @include respond-to(desktop-6x) {
        border-right:none;
    }
    @include respond-to(mobile) {
        display:none; 
    }
}
.mat-column-unreadMessages.mat-mdc-cell {
    text-align: center;
}
.mat-column-name, 
.mat-column-lastOnline, 
.mat-column-email, 
.mat-column-createdAt, 
.mat-column-howLogAgoStr,
.mat-column-pastDate,
.mat-column-start,
.mat-column-title {
    min-width: 10rem;
    padding-left:2rem;
    @include respond-to(desktop-6x) {
        padding-left:0.5rem;
        min-width:6rem;
    }
}
.mat-column-name.mat-mdc-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 3rem;
    .icon {
        height: 3rem;
        margin-left: 5px;
        padding-top: 15px;
    }
}

.status {
    width: 4.5rem;
    height: 2rem;
    border-radius: 17px;
    &.offline {
        background-color: rgb(197, 197, 197);
    }
    &.online {
        background-color: rgb(182 212 179 / 89%);
    }
    p {
        padding-right: 12px;
        font-weight: 900;
        opacity: 0.5;
    }
}
.action-btns{
    max-width: fit-content;
    margin-bottom:1rem;
    button {
        margin-right: 5px;
    }
}
.disabled-action {
    pointer-events: none;
    opacity: 0.5;
}
  
