
    
<div [ngClass]="recordIds && 'dialog-table'">
    <div *ngIf="recordIds">
        <h2 *ngIf="userRole==='doctor'" class="font">Patient's medical records:</h2>
        <h2 *ngIf="userRole==='patient'" class="font">My medical records:</h2>
        <p ></p>
    </div>
    <mat-form-field *ngIf="!recordIds">
        <mat-label>Search by name</mat-label>
        <input matInput (keyup)="onSearch($event)" placeholder="..." #input>
    </mat-form-field>

    <table 
        mat-table 
        multiTemplateDataRows 
        [dataSource]="dataSource" 
        class="mat-elevation-z8" 
        matSort 
        (matSortChange)="onSortChange($event)"
        
    >
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.columnDef" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="font">{{ column.header }}</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="column.columnDef === 'online'">
                    <div [ngClass]="{ 'online-dot': element.online, 'offline-dot': !element.online }"></div>
                </ng-container>
                <ng-container *ngIf="column.columnDef === 'name'" class="name-with-msg">
                    <span *ngIf="element.message" class="material-symbols-outlined" matTooltip="Added message">mail</span>
                </ng-container>
                <ng-container *ngIf="column.columnDef === 'actions'">
                    <div *ngFor="let action of element.actions">
                        <span matTooltip="Activate account" style="margin-right: 20px;" class="material-symbols-outlined" *ngIf="action.text === 'Activate Account'" (click)="onActionClick(action.text, column.id)">bookmark_check</span>
                        <span matTooltip="Cancel request" class="material-symbols-outlined" *ngIf="action.text === 'Cancel Request'" (click)="onActionClick(action.text, column.id)">close</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="column.columnDef === 'draft'">
                    <div *ngIf="element.draft !== undefined">
                        <span *ngIf="element.draft" class="material-symbols-outlined" matTooltip="Saved as draft">draft</span>
                        <span *ngIf="element.draft === false" class="material-symbols-outlined" matTooltip="Saved as record">task</span>
                    </div>
                    <div *ngIf="element.draft === undefined" matTooltip="No record">
                        <span>-</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="column.columnDef === 'record'">
                    <div *ngIf="element.record !== undefined">
                        <span *ngIf="element.record" class="material-symbols-outlined" matTooltip="Record added">task</span>
                    </div>
                    <div *ngIf="element.record === undefined" matTooltip="No record">-</div>
                </ng-container>
        
                <!-- Default rendering for other columns -->
                <ng-container *ngIf="column.columnDef !== 'online' && column.columnDef !== 'message' && column.columnDef !== 'draft'  && column.columnDef !== 'record'  && column.columnDef !== 'actions'">
                    <span *ngIf="element[column.columnDef] === ''">-</span>
                    <span *ngIf="element[column.columnDef] !== ''">{{ element[column.columnDef] }}</span>
                </ng-container>
                
                
            </td>
        </ng-container>        
        
        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr 
            mat-row 
            *matRowDef="let row; columns: columnNames"
            (click)="onRowClick(row.id, row.title || undefined)"
            [ngStyle]="{backgroundColor: (markAppointmentId && markAppointmentId === row.id) ? 'aqua': ''}"
            [ngClass]="{'blinking': isNewSender(row)}">
        </tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching current search parameters</td>
        </tr> 
    </table>

    <mat-paginator    
        #paginator
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageLimit"
        [pageSizeOptions]="[10, 20, 50, 100]"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>
