@import '../../scss/breakpoints';
@import '../../scss/variables';

table {
    button {
        height: 1.8rem;
        width: 8rem;
        text-wrap:nowrap;
    }
    box-shadow: none;
    @include respond-to(mobile-xx) {
        *:not(.material-symbols-outlined){font-size:0.8rem;}
    }
    @include respond-to(small-mobile-x) {
        *:not(.material-symbols-outlined){font-size:11px;}
    }
    @include respond-to(mobile-6x) {
        *:not(.material-symbols-outlined){font-size:0.7rem;}
    }
}
mat-form-field {
    width: 100%;
    margin:0;
    &::placeholder{
        font-style: italic;
    }
}
.mat-mdc-row:hover {
    cursor: pointer;
    background-color: $--color-white-cold;
}
.mat-label{
    font-weight: 100;
}

.details {
    width: 70%;
    align-self: center;
}
.mark-appointment {
    background-color: aqua;
}

.clickable {
    margin: 1rem auto;
}

.non-clickable:hover {
    cursor: default;
    pointer-events: none;
}

button {
    height: 1.8rem;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.non-click {
    margin:auto;
    cursor: default;
}

.online-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.offline-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-left: 0.5rem;
}

@keyframes blink { 
    0% {
      background-color: $--color-gray-cold-secondary;
    }
    50% {
      background-color: initial; 
    }
    100% {
      background-color: $--color-gray-cold-secondary;
    }
}
  
.blinking {
    animation: blink 1s infinite; 
}

.table {
    padding: 2rem;
    width: 65rem;
    height: 35rem;
    table {
        background-color: transparent;
    }
 
}

.mat-mdc-icon-button{
    padding: 0 !important;
    
}

.mat-mdc-header-row {
    background: $--color-gray-cold-secondary;
    .mat-mdc-header-cell {
        --mat-table-row-item-outline-color: rgb(78, 84, 90);
        font-weight: 800;
    }
}

.action {
    padding-top:5px;
    width: 2.5rem;
}

.bold-row {
    font-weight: 900;
}
.table-row {
    border: 1px solid black;
    &:hover {
        background-color: $--color-gray-cold-secondary;
    }
}

.mat-column-checkbox {
    max-width: 3rem;
}
.mat-column-unreadMessages,
.mat-column-draft {
    max-width: 4rem;
    @include respond-to(small-mobile-x) {
        text-align: center;
    }
    @include respond-to(mobile-6x) {
        text-align: center;
    }
}

.mat-column-online {
    min-width: 4rem;
    padding-left: 2rem;
}

.mat-column-actions {
    max-width: 7rem;
    border-right: 0.5px solid #cbcbcb;
    @include respond-to(desktop-6x) {
        border-right:none;
    }
    @include respond-to(mobile-6x) {
        display:none; 
    }
}
.mat-column-unreadMessages.mat-mdc-cell {
    text-align: center;
}

.mat-column-name, 
.mat-column-lastOnline, 
.mat-column-email, 
.mat-column-createdAt, 
.mat-column-howLogAgoStr,
.mat-column-pastDate,
.mat-column-start,
.mat-column-title {
    min-width: 10rem;
    padding-left:2rem;
    @include respond-to(desktop-6x) {
        padding-left:0.5rem;
        min-width:6rem;
    }
}

.mat-mdc-cell {
    .icon {
        margin-left: 5px;
        span {
            line-height:3rem;
        }
    }
}

.status {
    width: 4.5rem;
    height: 1.6rem;
    border-radius: 17px;
    align-items: center;
    justify-content: space-evenly;
    @include respond-to(mobile-6x) {
        width:3.5rem;
    }
    p {
        font-weight: 900;
        opacity: 0.5;
    }
}
.action-btns{
    max-width: fit-content;
    margin-bottom:1rem;
    button {
        margin-right: 5px;
    }
}
.disabled-action {
    pointer-events: none;
    opacity: 0.5;
}
  
