@import '../../scss/variables';

.icon-btn {
    width: max-content;
    margin-left:1rem;
    &:hover {
        cursor: pointer;
    }
}
#input {
    width: 50%;
    margin:auto 0;
   
}

span:hover {
    cursor: pointer;
}
.advanced-search {
    padding-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid $--color-gray-warm-secondary;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

fieldset {
    position:relative;
    legend {
        color: darkgray;
    }
}
mat-error {
    color:rgb(223 131 0 / 80%);
    position: absolute;
    top: 78px;
}

