<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex-row" [ngStyle]="{flexDirection: useAdvanced && isMobile ? 'column':'row'}">
        <mat-form-field appearance="outline" id="input" [ngStyle]="{width: useAdvanced ? '70%':'100%'}">
          <mat-label>Search by name</mat-label>
          <input matInput type="text" formControlName="searchInput" />
          <span class="material-symbols-outlined" style="float:right;" (click)="resetSearchInput()">close</span> 
        </mat-form-field>
        <div class="flex" *ngIf="useAdvanced" style="margin-bottom:1rem;">

            <button matTooltip="Reset search" type="button" mat-icon-button  (click)="onReset()" [ngStyle]="{display: showAdvanced ? 'block':'none'}">
                <span class="material-symbols-outlined color--main--primary">restart_alt</span>
            </button>
            <button matTooltip="Search" type="submit" mat-icon-button [ngStyle]="{display: showAdvanced ? 'block':'none'}">
                <span class="material-symbols-outlined color--main--primary">search
                </span>
            </button>
            <div type="button" (click)="showAdvanced = !showAdvanced" class="icon-btn title-hover flex" *ngIf="useAdvanced">
                <span class="material-symbols-outlined" *ngIf="!showAdvanced">add</span> 
                <span class="material-symbols-outlined" *ngIf="showAdvanced">remove</span> 
                <h5>Advanced search options</h5>
            </div>
          </div>
    </div>

    <fieldset formGroupName="advancedSearchInput" class="advanced-search" *ngIf="showAdvanced">
        <legend><p>Advanced Search</p></legend>
    
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Saved after</mat-label>
            <input matInput [matDatepicker]="rangeStartPicker" formControlName="rangeStart" />
            <mat-datepicker-toggle matSuffix [for]="rangeStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #rangeStartPicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Saved before</mat-label>
            <input matInput [matDatepicker]="rangeEndPicker" formControlName="rangeEnd" />
            <mat-datepicker-toggle matSuffix [for]="rangeEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #rangeEndPicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Includes in title..</mat-label>
            <input matInput type="text" formControlName="titleLike" />
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Includes in text..</mat-label>
            <input matInput type="text" formControlName="textLike" />
        </mat-form-field>

        <mat-error *ngIf="form.get('advancedSearchInput')?.hasError('isDateRangeValid')">
            The start date cannot be after the end date.
        </mat-error>
    </fieldset>
  
  </form>
