@import '../../scss/variables';

.menu-item {
    width: 100%;
    height: clamp(2.5rem, 3vw, 5rem);
    margin: 2rem 0;
    line-height: 0;
    p {
        line-height: clamp(0.7rem, 0.8vw, 1rem);
        padding: 0 1rem;
    }
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $--color-white-warm;
    align-items: center;
    height: clamp(1.5rem, 0.5vw, 3rem);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin-bottom:5px;
    h5 {
        font-size: larger;
    }
}
.item:hover {
    background-color:  $--color-white-warm;
    cursor: pointer;
    color: $--color-main; 
}
span {
    width: 100%;
}


