<div class="menu-item">
    <div class="warning">
        <div class="flex-column item">
            <div style="width:72%;">
                <h4 style="text-indent:1rem;">Dear visitor,</h4>
                <p>Due to high costs of maintaining database connection alive throughout the day, the user features are accessable during first 15 minutes of every hour, between 10am and 6pm on weekdays.</p>
                <p>Appologies for this inconvenience.. <strong>Fix on the way..! </strong></p>
                <p>Sincerely, </p>
                <p>Ieva Vyliaudaite</p>

            </div>
            <div>
                <span class="material-symbols-outlined" style="font-size: 5rem;">
                    engineering
                    </span>
            </div>
    
        </div>
    </div>
</div>

<mat-dialog-content class="app-login-menu">
    <mat-dialog-actions class="flex-column">
        <div class="menu-item">
            <div (click)="onBankLoginClick()" class="font item">
                <h3>Patient</h3>
                <div style="line-height: 1.5rem;">
                    <span class="material-symbols-outlined">
                        personal_injury
                    </span>
                </div>  
            </div>
            <p>Log in with bank credentials: manage appointments, access medical records</p>
        </div>
        <div class="menu-item">
            <div (click)="onGoogleLoginClick()" class="font item">
                <h3>Doctor</h3>
                <div style="line-height: 1.5rem;">
                    <span class="material-symbols-outlined">
                        clinical_notes
                    </span>

                </div>
            </div>
            <p>Log in with Google credentials</p>
        </div>
        <div class="menu-item">
            <div  (click)="onDirectLoginClick()" class="font item">
                <h3>Administrator</h3>
                <div style="line-height: 1.5rem;">
                    <span class="material-symbols-outlined">
                        manage_accounts
                    </span>
                </div>
            </div>
            <p>Log in with Admin credentials</p>
        </div>
    </mat-dialog-actions>
</mat-dialog-content>