.content {
    border-top: 1px solid rgb(111, 143, 175, 40%);
    height: calc(100vh - 6rem);
}
.page {
    max-width: 75%;
    padding-top: 4rem;
}
.flex-row {
    align-items: center;
}
mat-panel-description {
    justify-content: flex-end;
    em {
        text-indent: 1rem;
    }
}
.info {
    height: 2.5rem;
    margin-top: 1px;
}
.column {
    display: flex;
    flex-direction: column;
}
.actions {
    button {
        height: 1.8rem;
        padding: 5px 10px;
        margin-bottom: 5px;
    }
}

.btn-block {
    color: rgb(68, 65, 65);
    border: 1px solid rgb(111, 143, 175, 40%);
    margin: auto;
    margin-top: 6rem;
    border-radius: 5px;
    padding: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    button {
        background-color: rgb(175 111 174 / 40%);
    }
    div {
        width: 55%;
    }
    em {
        color: rgb(114, 114, 114);
        letter-spacing: 1px;
        font-size: smaller;
    }
}