<mat-tab-group 
    #tabGroup
    mat-stretch-tabs="false" 
    mat-align-tabs="start" 
    class="content" 
    (selectedIndexChange)="onTabChange($event)"
    [(selectedIndex)]="selectedIndex"
>
    <mat-tab label="new">
        <ng-template mat-tab-label>
            <span class="tab-label" *ngIf="userRole === 'patient'">New</span>
            <span class="tab-label" *ngIf="userRole === 'doctor'">Pending Confirmation</span>
        </ng-template>
        <div>
            <div class="flex-row wrapper info">
                <span class="icon material-symbols-outlined">info</span>
                <h3 *ngIf="userRole === 'patient' && countPendingAppointments === 0">Welcome! Here you will see your pending appointments <em>(requests approved within 24 hours)</em></h3> 
                <h3 *ngIf="userRole === 'patient' && countPendingAppointments !== 0">Here you can view and cancel pending appointments</h3>
                <h3 *ngIf="userRole === 'doctor' && countPendingAppointments !== 0">Appointments waiting for confirmation</h3>
                <h3 *ngIf="userRole === 'doctor' && countPendingAppointments === 0">No appointment requests at the moment</h3>
                <button mat-stroked-button (click)="openCalendar()">{{ 'Open Calendar' }}</button>
            </div>
            <div *ngIf="!dataSource && countPendingAppointments !==0" class="loading">
                <app-loading></app-loading>
            </div>
            <div class="page" @slideInOut>
                <div class="appointments">
                    <app-table 
                        *ngIf="dataSource && countPendingAppointments > 9"
                        [dataSource]="dataSource" 
                        [length]="length"
                        [userRole]="userRole"
                        [markAppointmentId]="routedAppointmentId"
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (appointmentClick)="onAppointmentClick($event, async)"
                        (buttonClick)="onButtonClick($event)"
                    >
                    </app-table>
                    <app-accordion     
                        *ngIf="pendingDataSource && countPendingAppointments<10"
                        [markAppointmentId]="routedAppointmentId"
                        [dataSource]="pendingDataSource" 
                        (buttonClick)="onButtonClick($event)"
                        (appointmentClick)="onAppointmentClick($event, async)"
                    ></app-accordion> 
                </div>
                <div class="btn-block" *ngIf="userRole === 'patient'">
                    <div>
                        <h3>You are in safe hands!</h3>
                        <p class="title" style="font-size: 2rem;">Make an appointment for a consultation</p>
                        <em>Appointment confirmation will be sent by email. Make sure you have provided your correct email address. You can always find your account details on <a [routerLink]="['/user']">My Account page</a>.</em>
                    </div>
                    <button mat-stroked-button (click)="openCalendar()">{{ 'Make an Appointment' }}</button>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="upcoming" *ngIf="userRole === 'doctor' || (userRole ==='patient' && countUpcomingAppointments > 0 || countPastAppointments > 0)">
        <ng-template mat-tab-label>
            <span class="tab-label" *ngIf="userRole === 'patient'">Upcoming</span>
            <span class="tab-label" *ngIf="userRole === 'doctor'">Accepted Appointments</span>
        </ng-template>
        <div>
            <div class="flex-row wrapper info">
                <span class="icon material-symbols-outlined">info</span>
                <h3 *ngIf="countUpcomingAppointments !== 0">Your appointments 
                    <em *ngIf="userRole === 'doctor'">(next starts at {{nextAppointmentStartTime}})</em>
                </h3>
                <h3 *ngIf="userRole === 'doctor' && countUpcomingAppointments === 0">You have no future appointments at the moment</h3>
                
                <h3 *ngIf="userRole === 'patient' && countUpcomingAppointments === 0">Here will be displayed your upcoming appointments after doctor's confirmation</h3>
                <button mat-stroked-button (click)="openCalendar()">{{ 'Open Calendar' }}</button>
            </div>
            <div class="page">
                <div class="btn-block column" *ngIf="countUpcomingAppointments === 0">
                    <div>
                        <h3><em>No upcoming appointments at the moment</em></h3>
                        <h3 *ngIf="userRole === 'patient'"><em>Appointment requests confirmed within 24 hours!</em></h3>   
                    </div>
                </div>
                <div class="appointments">
                    <app-table 
                        *ngIf="dataSource && countUpcomingAppointments > 9"
                        [dataSource]="dataSource" 
                        [length]="length"
                        [userRole]="userRole"
                        [markAppointmentId]="routedAppointmentId"
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (appointmentClick)="onAppointmentClick($event, async)"
                        (buttonClick)="onButtonClick($event)"
                    >
                    </app-table>
                    <app-accordion 
                        *ngIf="upcomingDataSource && countUpcomingAppointments<=9"
                        [markAppointmentId]="routedAppointmentId"
                        [dataSource]="upcomingDataSource" 
                        (buttonClick)="onButtonClick($event)"
                        (appointmentClick)="onAppointmentClick($event, async)"
                    ></app-accordion> 
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="past" *ngIf="userRole === 'doctor' || (userRole ==='patient' && countPastAppointments > 0)">
        <ng-template mat-tab-label>
            <span class="tab-label">Past</span>
        </ng-template>
        <div class="flex-row wrapper info">
            <span class="icon material-symbols-outlined">info</span>
            <h3 *ngIf="userRole === 'patient' && countPastAppointments === 0">Here you will find your past appointments</h3> 
            <h3 *ngIf="userRole === 'patient' && countPastAppointments !== 0">Your past appointments <em>(newest to oldest)</em></h3>
            <h3 *ngIf="userRole === 'doctor' && countPastAppointments !== 0">Archive <em>(newest to oldest)</em></h3>
            <h3 *ngIf="userRole === 'doctor' && countPastAppointments === 0">Empty archive</h3>
            <button mat-stroked-button (click)="openCalendar()">{{ 'Open Calendar' }}</button>
        </div>
        <div>
            <div class="page">
                <div class="btn-block" *ngIf="countPastAppointments === 0">
                    <h3><em>No previous appointments</em></h3>
                </div>
                <div class="appointments">
                    <app-table 
                        *ngIf="dataSource && countPastAppointments > 9"
                        [dataSource]="dataSource" 
                        [length]="length"
                        [userRole]="userRole"
                        [markAppointmentId]="routedAppointmentId"
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (appointmentClick)="onAppointmentClick($event, async)"
                        (buttonClick)="onButtonClick($event)"
                    >
                    </app-table>
                    <app-accordion 
                        *ngIf="pastDataSource && countPastAppointments<=9"
                        [markAppointmentId]="routedAppointmentId"
                        [dataSource]="pastDataSource" 
                        (buttonClick)="onButtonClick($event)"
                        (appointmentClick)="onAppointmentClick($event, async)"
                    ></app-accordion>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab 
        *ngFor="let tab of tabs"
    >
        <ng-template mat-tab-label><span class="tab-label">{{ tab.title }}</span></ng-template>
        <ng-template matTabContent>
            <app-appointment [id]="tab.id" (close)="onTabClose($event)"></app-appointment>
        </ng-template>
    </mat-tab>
</mat-tab-group>
