<mat-tab-group 
    #tabGroup
    mat-stretch-tabs="false" 
    mat-align-tabs="start" 
    class="content bg--white--cold" 
    (selectedIndexChange)="onTabChange($event)"
    [(selectedIndex)]="selectedIndex"
>
    <mat-tab label="new">
        <ng-template mat-tab-label>
            <span class="tab-label" *ngIf="userRole === 'patient'">New</span>
            <span class="tab-label" *ngIf="userRole === 'doctor'">Pending Confirmation</span>
        </ng-template>
        <div>
            <div class="flex-row block--bordered--md info">
                <span class="icon material-symbols-outlined">info</span>
                <p *ngIf="userRole === 'patient' && countPendingAppointments === 0">Welcome! Here you will see your pending appointments <em>(requests approved within 24 hours)</em></p> 
                <p *ngIf="userRole === 'patient' && countPendingAppointments !== 0">Here you can view and cancel pending appointments</p>
                <p *ngIf="userRole === 'doctor' && countPendingAppointments !== 0">Appointments waiting for confirmation</p>
                <p *ngIf="userRole === 'doctor' && countPendingAppointments === 0">No appointment requests at the moment</p>
                <button class="info__button" mat-stroked-button (click)="openCalendar()"><p>{{ 'Open Calendar' }}</p></button>
            </div>

            <div *ngIf="isLoading" class="loading">
                <app-loading></app-loading>
            </div>
            
            <div class="page" @slideInOut *ngIf="!isLoading">
                <div *ngIf="userRole === 'patient'">
                    <div class="block--bordered--with-btn" *ngIf="countPendingAppointments === 0">
                        <div>
                            <h2 class="title color--gray--cold--primary">You are in safe hands!</h2>
                            <h4 class="title">Make an appointment for a consultation</h4>
                            <p><em >Appointment confirmation will be sent by email. Make sure you have provided your correct email address. You can always find your account details on <a [routerLink]="['/user']">My Account page</a>.</em></p>
                        </div>
                        <button mat-stroked-button (click)="openCalendar()" class="button--create"><p>{{ 'Make an Appointment' }}</p></button>
                    </div>
    
                    <div *ngIf="countPendingAppointments > 0" class="page--text-block">  
                        <div class="block--with-btn">
                            <div>
                                <h2 class="font title color--gray--cold--primary">Book appointment</h2>
                                <p><em>Appointment confirmation will be sent by email. Make sure you have provided your correct email address. You can always find your account details on <a [routerLink]="['/home/user']">My Account</a> page.</em></p>   
                            </div>
                            <button class="button--create" mat-stroked-button (click)="openCalendar()"><p>{{ 'Book New Appointment' }}</p></button>
                        </div> 
                        <div>
                            <div class="flex-row" style="justify-content: flex-start;">
                                <h4 class="font title color--main--secondary">Pending confirmation</h4>
                                <span class="title--count">{{countPendingAppointments}}</span>
                            </div>
                            <p>Currently you have {{countPendingAppointments}} appointment requests waiting for doctor's confirmation. Once a doctor accepts your appointment request, you will receive confirmation to your email address.</p>
                        </div>
                    </div>

                </div>
               
                <div *ngIf="userRole === 'doctor'" >
                    <app-no-content *ngIf="countPendingAppointments === 0" message="No appointment requests"></app-no-content>
                    <div *ngIf="countPendingAppointments > 0" class="page--text-block">  
                        <div>
                            <div class="flex-row" style="justify-content: flex-start;">
                                <h4 class="font title color--main--secondary">Appointment requests</h4>
                                <span class="title--count">{{countPendingAppointments}}</span>
                            </div>
                            <p>Currently there are {{countPendingAppointments}} appointment requests waiting for confirmation. Please prioritize soonest requests.</p>
                        </div>
                    </div>   
                </div>
                <div class="table-wrapper">
                    <app-search
                        *ngIf="userRole==='doctor' && dataSource && displayedColumns && countPendingAppointments > 0"
                        [useAdvanced]="false"
                        (inputValue)="onFilterValueChange($event)"
                        (reset)="onSearchReset($event)"
                    ></app-search>
                    <app-table 
                        *ngIf="dataSource && displayedColumns && countPendingAppointments > 0"
                        [dataSource]="dataSource" 
                        [displayedColumns]="displayedColumns" 
                        [buttons]="actions"
                        [length]="length"
                        [userRole]="userRole"
                        [markAppointmentId]="routedAppointmentId"
                        
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (rowClick)="onAppointmentClick($event, async)"
                        (action)="onActionClick($event, async)"
                    >
                    </app-table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="upcoming" *ngIf="userRole === 'doctor' || (userRole ==='patient' && countUpcomingAppointments > 0 || countPastAppointments > 0)">
        <ng-template mat-tab-label>
            <span class="tab-label" *ngIf="userRole === 'patient'">Upcoming</span>
            <span class="tab-label" *ngIf="userRole === 'doctor'">Accepted Appointments</span>
        </ng-template>
        <div>
            <div class="flex-row block--bordered--md info">
                <span class="icon material-symbols-outlined">info</span>
                <p *ngIf="countUpcomingAppointments !== 0">Your appointments 
                    <em *ngIf="userRole === 'doctor'">(next starts at {{nextAppointmentStartTime | dateFormat:null:'HH:mm, dd MMM'}})</em>
                </p>
                <p *ngIf="userRole === 'doctor' && countUpcomingAppointments === 0">You have no future appointments at the moment</p>   
                <p *ngIf="userRole === 'patient' && countUpcomingAppointments === 0">Here will be displayed your upcoming appointments after doctor's confirmation</p>
                <button class="info__button" mat-stroked-button (click)="openCalendar()"><p>{{ 'Open Calendar' }}</p></button>
            </div>

            <div class="page">
                <app-no-content *ngIf="countUpcomingAppointments === 0" message="No appointments"></app-no-content>
                <div *ngIf="userRole === 'patient'">   
                    <div *ngIf="countUpcomingAppointments > 0;" class="page--text-block">
                        <div class="flex-row" style="justify-content: flex-start;">
                            <h4 class="font title color--main--secondary">Confirmed appointments</h4>
                            <span class="title--count">{{countUpcomingAppointments}}</span>
                        </div>
                        <p *ngIf="countUpcomingAppointments===1">Currently you have {{countUpcomingAppointments}} upcoming appointment.</p>
                        <p *ngIf="countUpcomingAppointments>1">Currently you have {{countUpcomingAppointments}} upcoming appointments.</p>
                    </div>
                </div>
                <div *ngIf="userRole === 'doctor'">  
                    <div *ngIf="countUpcomingAppointments > 0" class="page--text-block">
                        <div class="flex-row" style="justify-content: flex-start;">
                                <h4 class="font title color--main--secondary">Next appointments</h4>
                                <span class="title--count">{{countUpcomingAppointments}}</span>
                        </div>
                        <p *ngIf="countUpcomingAppointments === 1">Currently there is {{countUpcomingAppointments}} upcoming appointment in your calendar.</p>
                        <p *ngIf="countUpcomingAppointments > 1">Currently there are {{countUpcomingAppointments}} upcoming appointments in your calendar.</p>
                   
                    </div>
                </div>
               
                <div class="table-wrapper">
                    <app-search
                        *ngIf="dataSource && displayedColumns && countUpcomingAppointments > 0"
                        [useAdvanced]="false"
                        (inputValue)="onFilterValueChange($event)"
                        (reset)="onSearchReset($event)"
                    ></app-search>
                    <app-table 
                        *ngIf="dataSource && displayedColumns && countUpcomingAppointments > 0"
                        [dataSource]="dataSource" 
                        [displayedColumns]="displayedColumns" 
                        [buttons]="actions"
                        [length]="length"
                        [userRole]="userRole"
                        [markAppointmentId]="routedAppointmentId"    
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (rowClick)="onAppointmentClick($event, async)"
                        (action)="onActionClick($event, async)"
                    >
                    </app-table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="past" *ngIf="userRole === 'doctor' || (userRole ==='patient' && countPastAppointments > 0)">
        <ng-template mat-tab-label>
            <span class="tab-label">Past</span>
        </ng-template>
        <div class="flex-row block--bordered--md info">
            <span class="icon material-symbols-outlined">info</span>
            <p *ngIf="userRole === 'patient' && countPastAppointments === 0">Here you will find your past appointments</p> 
            <p *ngIf="userRole === 'patient' && countPastAppointments !== 0">Your past appointments <em>(newest to oldest)</em></p>
            <p *ngIf="userRole === 'doctor' && countPastAppointments !== 0">Archive <em>(newest to oldest)</em></p>
            <p *ngIf="userRole === 'doctor' && countPastAppointments === 0">Empty archive</p>
            <button class="info__button" mat-stroked-button (click)="openCalendar()"><p>{{ 'Open Calendar' }}</p></button>
        </div>
        <div>
            <div class="page">
                <app-no-content *ngIf="countPastAppointments === 0" message="No previous appointments"></app-no-content>
                <div *ngIf="userRole === 'patient'">   
                    <div *ngIf="countPastAppointments === 0" class="page--text-block">
                        <div class="flex-row" style="justify-content: flex-start;">
                            <h4 class="font title color--main--secondary">Previous visits</h4>
                            <span class="title--count">{{countPastAppointments}}</span>
                        </div>
                        <p *ngIf="countPastAppointments===1">You had {{countPastAppointments}} appointment.</p>
                        <p *ngIf="countPastAppointments>1">Previously you had {{countPastAppointments}} appointments.</p>
                    </div>
                </div>
                <div *ngIf="userRole === 'doctor'">  
                    <div *ngIf="countPastAppointments>0" class="page--text-block">
                        <div class="flex-row" style="justify-content: flex-start;">
                            <h4 class="font title color--main--secondary">Previous appointments</h4>
                            <span class="title--count">{{countPastAppointments}}</span>
                        </div>
                        <p *ngIf="countPastAppointments===1">{{countPastAppointments}} appointment in the archive. Appointments without medical record are blocked from deleting.</p>
                        <p *ngIf="countPastAppointments>1">{{countPastAppointments}} appointments in the archive. Appointments without medical record are blocked from deleting.</p>
                    </div>
                </div>
                <div class="table-wrapper">
                    <app-search
                        *ngIf="dataSource && displayedColumns && countPastAppointments > 0"
                        [useAdvanced]="false"
                        (inputValue)="onFilterValueChange($event)"
                        (reset)="onSearchReset($event)"
                    ></app-search>
                    <app-table 
                        *ngIf="dataSource && displayedColumns && countPastAppointments > 0"
                        [dataSource]="dataSource" 
                        [displayedColumns]="displayedColumns" 
                        [buttons]="actions"
                        [length]="length"
                        [userRole]="userRole"
                        [markAppointmentId]="routedAppointmentId"
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (rowClick)="onAppointmentClick($event, async)"
                        (action)="onActionClick($event, async)"
                    >
                    </app-table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngFor="let tab of tabs">
        <ng-template mat-tab-label><span class="tab-label">{{ tab.title }}</span></ng-template>
        <ng-template matTabContent>
            <app-appointment [id]="tab.id" (close)="onTabClose($event)"></app-appointment>
        </ng-template>
    </mat-tab>
</mat-tab-group>
