app-sidenav {
    //border-right: 1px solid rgb(229,238,245);
    border-right: 0.8px solid darkgray;
}
mat-toolbar {
    border-bottom: 0.8px solid darkgray;
}
.spacer {
    flex: 1 1 auto;
}
.me {
    margin-left: 1rem;
    font-size: small;
    color: gray;
}