<mat-dialog-content *ngIf="loading">
    <app-loading></app-loading>
</mat-dialog-content>

<mat-dialog-content *ngIf="isDeleting">
    <app-confirm (ok)="onOk($event)"></app-confirm>
</mat-dialog-content>

<mat-dialog-content *ngIf="message">
    <app-alert (ok)="onOk($event)" [message]="message"></app-alert>
</mat-dialog-content>

<mat-dialog-content *ngIf="isLoggingIn">
    <app-login></app-login>
</mat-dialog-content>

<mat-dialog-content *ngIf="showDirectLoginForm">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>{{'Email'}}</mat-label>
            <input name="email" matInput [formControl]="form.controls.email">
            <mat-hint>{{error}}</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'Password'}}</mat-label>
            <input name="password" matInput [formControl]="form.controls.password">
            <mat-hint>{{error}}</mat-hint>
        </mat-form-field>
        <mat-dialog-actions align="center">
            <button color="secondary" mat-stroked-button (click)="cancelDirectLogin()">Cancel</button>
            <button type="submit" color="primary" mat-stroked-button>Submit</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>

<mat-dialog-content *ngIf="input || eventInfo">
   <app-event 
    (submit)="onEventSubmit($event)" 
    (delete)="onEventDelete($event)"
    [createdAt]="createdAt"
    [eventTitle]="eventTitle"
    [patientName]="patientName"
    [patientDob]="patientDob"
    [doctorName]="doctorName"
    [eventDate]="eventDate"
    [eventStartTime]="eventStartTime"
    [eventEndTime]="eventEndTime"
    [eventId]="appointmentId"
    [patientMessage]="patientMessage"
    [doctorMessage]="doctorMessage"
></app-event>
</mat-dialog-content>
