<mat-sidenav [opened]="true" mode="side">
    <mat-nav-list style="padding:0;">
      <a mat-list-item [routerLink]="['user']" *ngIf="isAuth" routerLinkActive="activeLink">
        <div class="flex">
          <span>{{ 'My Account' }}</span>
          <span [ngStyle]="{visibility: !isUserUpdated ? 'visible':'hidden'}" class="icon material-symbols-outlined">info</span>
        </div>
      </a>
      <a mat-list-item [routerLink]="['appointments']" *ngIf="isAuth && isUserUpdated" routerLinkActive="activeLink">
        <div class="flex">
          <span>{{ 'Appointments' }}</span>
          <span [ngStyle]="{visibility: !isUserUpdated ? 'visible':'hidden'}" class="icon material-symbols-outlined">info</span>
        </div>
      </a>
      <a mat-list-item [routerLink]="['records']" *ngIf="isAuth && isRecords" routerLinkActive="activeLink">
        <div class="flex">
          <span>{{ 'Medical Records' }}</span>
        </div>
      </a>
      <a mat-list-item [routerLink]="['test-apps']" routerLinkActive="activeLink">
        <span class="entry">
          <span>{{ 'Test' }}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
