
mat-sidenav {
    border-right: 1px solid rgb(229,238,245);
}
mat-nav-list{
    a {
        border-radius:0;
    }
}
button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2rem;
    margin: 0;
    height: 3rem;
    border-radius: none;
}
.activeLink {
    background-color: rgb(139, 149, 161);
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    border-radius: 50%;
    padding: 3px;
    opacity: 0.6;
}
a:hover .icon {
    background: rgb(139, 149, 161);
    border-radius: 50%;
    padding: 3px;
}