// @mixin mat-spinner-size($height: 30px, $width: 30px) {
//     ::ng-deep .mat-spinner {
//       height: $height !important;
//       width: $width !important;
//     }
//   }

// _mixins.scss
@mixin spinner-size($size: 8rem) {
    width: $size;
    height: $size;
  
    ::ng-deep mat-spinner {
      width: $size !important;
      height: $size !important;
    }
  }
  