@import '../../shared/scss/breakpoints';

.page {
    @include respond-to(desktop-5x) {
        width:80%;
    }
    @include respond-to(tablet) {
        width:auto;
    }
}

.record {
    margin-bottom: 6rem;
}
.actions {
    margin-bottom: 4rem;
}
.font {
    margin-top: 5px;
}