<h2>HELLO TEST APP</h2>

<form *ngIf="form" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>{{ 'Test App Name' }}</mat-label>
        <input name="testAppName" matInput [formControl]="form.controls.testAppName">
    </mat-form-field>
    <mat-label>{{ 'Is connected '}}</mat-label>
    <mat-checkbox [color]="black" [formControl]="form.controls.isAppConnected"></mat-checkbox>
    <button type="submit" color="primary" mat-raised-button (click)="save()">Save</button>
    <button type="button" color="secondary" mat-raised-button (click)="cancel()">Cancel</button>
</form>