em {
    color: rgb(111 121 133);
}
.dialog {
    padding: 1rem 2rem;
}
.info {
    margin-bottom: 4rem;
}
.page {
    position: relative;
    will-change: transform;
}
.font {
    margin-top: 5px;
}
