
<div>
    <div *ngIf="!userId">
        <div class="flex-row block--bordered--md info" >
            <span class="icon material-symbols-outlined">info</span>
            <p *ngIf="!isUpdated && !id">Add missing infomration to use Health Center services</p>
            <p *ngIf="isUpdated">Your Health Center account details</p>
            <button *ngIf="!isUpdated" mat-stroked-button (click)="updateUser()"><p>{{ 'Update User Details' }}</p></button>
            <span *ngIf="isUpdated">{{ ' '}}</span>
        </div>
        <div *ngIf="!me">
            <app-loading></app-loading>
        </div>
        <div class="page" @slideInOut>
            <div *ngIf="me && !id" @slideInOut>
                <span *ngIf="me.userRole==='patient'" class="material-symbols-outlined" id="bg-icon">
                    account_box
                </span>
                <span *ngIf="me.userRole==='doctor'" class="material-symbols-outlined" id="bg-icon">
                    badge
                </span>
                <span *ngIf="me.userRole==='admin'" class="material-symbols-outlined" id="bg-icon">
                    id_card
                </span>
                <div class="flex-column">
                    <div class="flex-column block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Basic Information' }}</p>
                        <div class="flex-row">
                            <div class="flex-column">
                                <p>{{ 'Name' }}</p>
                                <h5  class="font">{{ me.firstName }} {{ me.lastName }}</h5 >
                            </div>
                            <div class="flex-column">
                                <p>{{ 'Date of Birth' }}</p>
                                <h5  *ngIf="me.dob" class="font">{{ formattedDate }}</h5 >
                                <h5><em *ngIf="!me.dob" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                        </div>
                    </div>
                    <div class="flex-column block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Contact Details' }}</p>
                        <div class="flex-row">
                            <div class="flex-column">
                                <p>{{ 'Phone Number' }}</p>
                                <h5  *ngIf="me.phone" class="font">{{ me.phone }}</h5 >
                                <h5><em *ngIf="!me.phone" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                            <div class="flex-column">
                                <p>{{ 'Email' }}</p>
                                <h5  *ngIf="me.email && !me.email.includes('insertedonbankingsignup')" class="font">{{ me.email }}</h5 >
                                <h5><em *ngIf="!me.email || me.email.includes('insertedonbankingsignup')" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                        </div>
                    </div>
                    <div class="flex-column block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Address' }}</p>
                        <div class="flex-row">
                            <div class="flex-column">
                                <p>{{ 'Street Address' }}</p>
                                <h5  *ngIf="me.streetAddress" class="font">{{ me.streetAddress }}</h5 >
                                <h5><em *ngIf="!me.streetAddress" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                            <div class="flex-column">
                                <p>{{ 'City' }}</p>
                                <h5  *ngIf="me.city" class="font">{{ me.city }}</h5 >
                                <h5><em *ngIf="!me.city" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                            <div class="flex-column">
                                <p>{{ 'Post Code' }}</p>
                                <h5  *ngIf="me.postCode" class="font">{{ me.postCode }}</h5 >
                                <h5><em *ngIf="!me.postCode" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row" style="margin-inline:1rem;">
                    <button 
                        *ngIf="!missingInfo" 
                        mat-stroked-button 
                        class="button--update" 
                        (click)="updateUser()">
                        <p>{{ 'Update Information' }}</p>
                    </button>
                    <button 
                        class="button--delete" 
                        mat-stroked-button 
                        (click)="deleteUser()">
                        <p>{{ 'Delete Account' }}</p>
                    </button>
                </div>
            </div>
            <div *ngIf="id">
                <form *ngIf="form" [formGroup]="form">
                    <div class="block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Basic Information' }}</p>
                        <mat-form-field>
                            <mat-label>{{ 'First Name' }}</mat-label>
                            <input name="firstName" matInput [formControl]="form.controls.firstName">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'Last Name' }}</mat-label>
                            <input name="lastName" matInput [formControl]="form.controls.lastName">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'Date of Birth' }}</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="YYYY-MM-DD" [formControl]="form.controls.dob">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Contact Details' }}</p>
                        <mat-form-field>
                            <mat-label>{{ 'Email' }}</mat-label>
                            <input name="email" matInput [formControl]="form.controls.email">
                            <mat-hint *ngIf="form.controls.email.value && form.controls.email.errors">Invalid email address</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'Phone' }}</mat-label>
                            <input name="phone" [maxlength]="10" matInput [formControl]="form.controls.phone">
                            <mat-hint *ngIf="form.controls.phone.value && form.controls.phone.errors">Only digits allowed</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Address' }}</p>
                        <mat-form-field>
                            <mat-label>{{ 'Street Address' }}</mat-label>
                            <input name="streetAddress" matInput [formControl]="form.controls.streetAddress">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'City' }}</mat-label>
                            <input name="city" matInput [formControl]="form.controls.city">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'Postal Code' }}</mat-label>
                            <input name="postCode" matInput [formControl]="form.controls.postCode">
                        </mat-form-field>
                    </div>
                    <div class="flex-row" style="margin-inline:1rem;">
                        <button 
                            mat-stroked-button 
                            class="button--create" 
                            type="submit" 
                            (click)="save()" 
                            [disabled]="form.invalid || form.untouched">
                            <p>{{ 'Save' }}</p>
                        </button>
                        <button 
                            mat-stroked-button 
                            class="button--cancel" 
                            type="button" 
                            (click)="cancel()">
                            <p>{{ 'Cancel' }}</p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="userId">
        <div *ngIf="isLoading" class="loading">
            <app-loading></app-loading>
        </div>
        <div class="dialog" *ngIf="!isLoading">
            <div *ngIf="!id">
                <div *ngIf="me" class="flex-column">
                    <div class="flex-column block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Basic Information' }}</p>
                        <div class="flex-row">
                            <div class="flex-column">
                                <p>{{ 'Name' }}</p>
                                <h5  *ngIf="user" class="font">{{ user.firstName }} {{ user.lastName }}</h5  >
                            </div>
                            <div class="flex-column">
                                <p>{{ 'Date of Birth' }}</p>
                                <h5  *ngIf="user.dob" class="font">{{ formattedDate }}</h5  >
                                <em *ngIf="!user.dob" class="font color--gray--cold--primary">{{ 'Missing information' }}</em>
                            </div>
                        </div>
                    </div>
                    <div class="flex-column block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Contact Details' }}</p>
                        <div class="flex-row">
                            <div class="flex-column">
                                <p>{{ 'Phone Number' }}</p>
                                <h5  *ngIf="user.phone" class="font">{{ user.phone }}</h5  >
                                <h5><em *ngIf="!user.phone" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                            <div class="flex-column">
                                <p>{{ 'Email' }}</p>
                                <h5  *ngIf="user.email && !user.email.includes('insertedonbankingsignup')" class="font">{{ user.email }}</h5>
                                <h5><em *ngIf="!user.email || user.email.includes('insertedonbankingsignup')" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                        </div>
                    </div>
                    <div class="flex-column block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Address' }}</p>
                        <div class="flex-row">
                            <div class="flex-column">
                                <p>{{ 'Street Address' }}</p>
                                <h5  *ngIf="user.streetAddress" class="font">{{ user.streetAddress }}</h5  >
                                <h5><em *ngIf="!user.streetAddress" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                            <div class="flex-column">
                                <p>{{ 'City' }}</p>
                                <h5  *ngIf="user.city" class="font">{{ user.city }}</h5  >
                                <h5><em *ngIf="!user.city" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                            <div class="flex-column">
                                <p>{{ 'Post Code' }}</p>
                                <h5  *ngIf="user.postCode" class="font">{{ user.postCode }}</h5  >
                                <h5><em *ngIf="!user.postCode" class="font color--gray--cold--primary">{{ 'Missing information' }}</em></h5>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="flex-row" style="margin-inline:1rem;">
                    <button 
                        *ngIf="!missingInfo && user.id === me.id" 
                        class="button--update"
                        mat-stroked-button 
                        (click)="updateUser()"
                    >
                        <p>{{ 'Update Information' }}</p>
                    </button>
                    <button 
                        *ngIf="user?.userRole ==='doctor'"
                        class=" button--delete"
                        mat-stroked-button 
                        (click)="deleteUser()"
                    >
                        <p>{{ 'Delete Account' }}</p>
                    </button>
                    <button 
                        *ngIf="user?.userRole ==='patient' && me.userRole==='admin'"
                        class="button--create"
                        mat-stroked-button 
                        (click)="openCalendar(user.id)"
                    >
                        <p>{{ 'Book Appointment' }}</p>
                    </button>
                </div>
            </div>

            <div *ngIf="id">
                <form *ngIf="form" [formGroup]="form">
                    <div class="block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Basic Information' }}</p>
                        <mat-form-field>
                            <mat-label>{{ 'First Name' }}</mat-label>
                            <input name="firstName" matInput [formControl]="form.controls.firstName">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'Last Name' }}</mat-label>
                            <input name="lastName" matInput [formControl]="form.controls.lastName">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'Date of Birth' }}</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="YYYY-MM-DD" [formControl]="form.controls.dob">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Contact Details' }}</p>
                        <mat-form-field>
                            <mat-label>{{ 'Email' }}</mat-label>
                            <input name="email" matInput [formControl]="form.controls.email">
                            <mat-hint *ngIf="form.controls.email.value && form.controls.email.errors">Invalid email address</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'Phone' }}</mat-label>
                            <input name="phone" [maxlength]="10" matInput [formControl]="form.controls.phone">
                            <mat-hint *ngIf="form.controls.phone.value && form.controls.phone.errors">Only digits allowed</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="block--bordered--md">
                        <p class="title color--gray--cold--primary">{{ 'Address' }}</p>
                        <mat-form-field>
                            <mat-label>{{ 'Street Address' }}</mat-label>
                            <input name="streetAddress" matInput [formControl]="form.controls.streetAddress">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'City' }}</mat-label>
                            <input name="city" matInput [formControl]="form.controls.city">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'Postal Code' }}</mat-label>
                            <input name="postCode" matInput [formControl]="form.controls.postCode">
                        </mat-form-field>
                    </div>
                    <div class="flex-row" styke="margin-inline:1rem;">
                        <button 
                            mat-stroked-button 
                            class="bg--gray--cold--primary" 
                            type="submit" 
                            (click)="save()" 
                            [disabled]="form.invalid || form.untouched"
                        ><p>{{ 'Save' }}</p></button>
                        <button 
                            mat-stroked-button 
                            color="secondary" 
                            type="button" 
                            (click)="cancel()"
                        ><p>{{ 'Cancel' }}</p></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>