@import '../../shared/scss/breakpoints';

.content.wrapper {
    padding:0;
    margin:0;
    @include respond-to(desktop-5x){
        width:100%;
    }   
}
.content {   
    em {
        color: rgb(111 121 133);
    }
    .dialog {
        padding: 1rem 2rem;
    }
    .info {
        margin-bottom: 4rem;
        @include respond-to(desktop-5x){
            height:3.7rem;
            font-size:1.5rem;
        }
        .icon {
            @include respond-to(desktop-5x){
                font-size:2rem;
            }
        }
    }
    .page {
        position: relative;
        will-change: transform;
        width: 60%;
        margin-top: 8rem; 
        @include respond-to(desktop-5x){
            width:75%;
            margin:auto;
            margin-top:20%;
        }
        @include respond-to(mobile-and-tablet){
            width:auto;
            margin:auto;
        }
    }
    .font {
        margin-top: 5px;
    }
    #bg-icon {
        position: absolute;
        font-size: 34rem;
        right: -65px;
        top: -100px;
        transform: rotate(21deg);
        color: darkgray;
        opacity: 0.3;
        @include respond-to(tablet){
            font-size:28rem;
            right:-5px;
            top:-50px;
        }
        @include respond-to(mobile){
            top:-90px;
            right:-4px;
            font-size:24rem;
        }
        @include respond-to(mobile-xxxx){
            top: -50px;
            right: -4px;
            font-size: 21rem;
        }
        @include respond-to(small-mobile-x){    
            font-size:16rem;
        }
    }
}
