form {
    display: flex;
    flex-direction: column;
}
mat-form-field {
    margin-bottom: 1rem;
}
mat-hint {
    color: orange;
}
.mat-mdc-dialog-content {
    max-height: 95vh;
    max-width: 48rem;
}