.editor {
    margin: 0 0.5rem;
    .NgxEditor__MenuBar {
        --ngx-editor-menubar-bg-color: transparent;
    }
    
    .NgxEditor__Content {
        --ngx-editor-background-color: transparent;
        border: none;
        &:not(mat-hint) {font-size:1.2rem;}
    }
}

