<form *ngIf="form" [formGroup]="form" class="flex-column">
    <mat-form-field>
        <mat-label>{{ 'Add title' }}</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <div class="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" class="NgxEditor__MenuBar"> </ngx-editor-menu>
        <ngx-editor 
            #editorDiv
            (keyup)="adjustHeight()"
            [editor]="editor" 
            [(ngModel)]="editorText" 
            [ngModelOptions]="{standalone: true}" 
            [disabled]="false" 
            [placeholder]="'Type here...'"
            class="NgxEditor__Content"
            (ngModelChange)="onContentChange($event)"
        ></ngx-editor>
        <mat-hint>{{ currentCharacterCount }}/{{ maxCharacters }} characters</mat-hint>
    </div>
    <div class="flex-row" style="margin:1rem;">
        <div class="flex-row" style="gap:1rem;"> 
            <!-- TO DO: add gap:1rem instead of margins !!! -->
            <button 
                type="submit" 
                mat-stroked-button 
                class="bg--pink--cloudy--primary" 
                (click)="save(false)" 
                [disabled]="currentCharacterCount === 0 && disabled"
            >
                <p>{{'Save'}}</p>
            </button>
            <button 
                type="submit" 
                mat-stroked-button 
                class="bg--gray--cold--primary" 
                (click)="save(true)" 
                [disabled]="currentCharacterCount === 0 && disabled"
            >
                <p>{{'Save As Draft'}}</p>
            </button>
        </div>
        <button type="button" mat-stroked-button (click)="onCancel()"><p>{{'Cancel'}}</p></button>
    </div>
</form>
