<mat-accordion>
    <mat-expansion-panel 
        hideToggle 
        (opened)="panelOpenState.set(true)" 
        (closed)="panelOpenState.set(false)" 
        *ngFor="let element of dataSource"
        [ngStyle]="{backgroundColor: (markAppointmentId !== undefined && markAppointmentId === element.id) ? 'aqua': ''}"
        (click)="resetRoute()"
    >
        <mat-expansion-panel-header (click)="onAccordionClick(element.id)">
            <div class="header">
                <h4 *ngIf="!element.firstName"> {{ element.title }}</h4>
                <h4 *ngIf="element.firstName"> {{element.firstName}} {{element.lastName}}, <em>{{element.email}}</em></h4>
                <p *ngIf="element.howLongAgoStr">Appointment created: <em>{{element.howLongAgoStr}}</em></p>
                <p *ngIf="element.howSoonStr">Appointment time: <em>{{element.howSoonStr}}</em></p>
                <p *ngIf="element.pastDate">Appointment date: <em>{{element.pastDate}}</em></p>
                
                <p *ngIf="element.updatedAt && userRole==='patient'">Created: <em>{{element.updatedAt}}</em></p>
                <p *ngIf="element.updatedAt && !element.draft && userRole==='doctor'">Last saved: <em>{{element.updatedAt}}</em></p>
                <p *ngIf="element.createdAt && element.draft">Created: <em>{{element.createdAt}}</em></p>
                <p *ngIf="element.updatedAt && element.draft">Last updated: <em>{{element.updatedAt}}</em></p>
                <p *ngIf="element.firstName && element.createdAt && !element.updatedAt">Request created: <em>{{element.createdAt}}</em></p>
                <p *ngIf="element.firstName && element.createdAt && element.updatedAt && userRole==='admin'">Active since: <em>{{element.updatedAt}}</em></p>
            </div>
        </mat-expansion-panel-header>
        <div *ngIf="element.date" class="flex-column wrapper clickable" (click)="onAppointmentClick(element.id, element.title, async)">
            <p class="title">{{ 'Appointment Details' }}</p>
            <div class="flex-row">
                <div class="details flex-row">
                    <div class="flex-column">
                        <p>{{ 'Date' }}</p>
                        <h3>{{element.date}}</h3>
                    </div>
                    <div class="flex-column">
                        <p>{{ 'Start Time' }}</p>
                        <h3>{{element.start}}</h3>
                    </div>
                    <div class="flex-column">
                        <p>{{ 'End Time' }}</p>
                        <h3>{{element.end}}</h3>
                    </div>
                </div>
                <div class="actions flex-column">   
                    <button 
                        *ngFor="let button of element.buttons"
                        style="margin-right:1rem;background-color:rgb(151,170,192)" 
                        mat-stroked-button 
                        (click)="onButtonClick(element.id, button.text); $event.stopPropagation()"
                        [disabled]="button.disabled"
                    >
                        {{ button.text }}
                    </button>
                </div>
                    
            </div>
        </div>

        <div 
            *ngIf="element.firstName" 
            class="flex-column wrapper" 
            (click)="element.updatedAt && onUserClick(element.id, async)"
            [ngClass]="element.updatedAt && 'clickable'"
        >
            <p class="title">{{ 'User Details' }}</p>
            <div class="flex-row">
                <div class="flex-row" style="width: 100%; margin-top:1rem;">
                    <div class="flex-column">
                        <p>{{ 'Created' }}</p>
                        <h3>{{element.createdAt}}</h3>
                    </div>
                    <div class="flex-column" *ngIf="element.updatedAt">
                        <p>{{ 'Last updated' }}</p>
                        <h3>{{element.updatedAt}}</h3>
                    </div>
                    <div class="flex-column" *ngIf="record">
                        <p>{{ 'Doctor name' }}</p>
                        <h3>{{element.firstName}} {{element.lastName}}</h3>
                    </div>
                </div>
                <div class="actions flex-column" *ngIf="element.buttons">   
                    <button 
                        *ngFor="let button of element.buttons"
                        style="margin-right:1rem;background-color:rgb(151,170,192); min-width:12rem;" 
                        mat-stroked-button 
                        (click)="onButtonClick(element.id, button.text); $event.stopPropagation()"
                        [disabled]="button.disabled"
                    >
                        <span *ngIf="button.text">{{ button.text }}</span>
                    </button>
                </div>
                    
            </div>
        </div>

        <div *ngIf="element.createdAt && !element.firstName" class="flex-column wrapper clickable" (click)="onRecordClick(element.id, async)">
            <p class="title">{{ 'Record Details' }}</p>
            <div class="flex-row">
                <div class="flex-row" style="width: 100%; margin-top:1rem;">
                    <div class="flex-column">
                        <p>{{ 'Created' }}</p>
                        <h3>{{element.createdAt}}</h3>
                    </div>
                    <div class="flex-column">
                        <p>{{ 'Last updated' }}</p>
                        <h3>{{element.updatedAt}}</h3>
                    </div>
                </div>
                <div class="actions flex-column" *ngIf="element.buttons">   
                    <button 
                        *ngFor="let button of element.buttons"
                        style="margin-right:1rem;background-color:rgb(151,170,192)" 
                        mat-stroked-button 
                        (click)="onButtonClick(element.id, button.text); $event.stopPropagation()"
                        [disabled]="button.disabled"
                    >
                        <span *ngIf="button.text">{{ button.text }}</span>
                    </button>
                </div>
                    
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>
                  