<mat-accordion>
    <mat-expansion-panel hideToggle (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" *ngFor="let appointment of dataSource">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="userRole === 'patient'"> {{ 'Pending doctor confirmation' }}</mat-panel-title>
        <mat-panel-title *ngIf="userRole === 'doctor'"> {{ 'View details' }}</mat-panel-title>
        <mat-panel-description>
          Appointment created: <em>{{appointment.howLongAgoStr}}</em>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex-column wrapper">
            <p class="title">{{ 'Appointment Details' }}</p>
            <div class="flex-row">
                <div class="flex-column">
                    <p>{{ 'Date' }}</p>
                    <h3>{{appointment.date}}</h3>
                </div>
                <div class="flex-column">
                    <p>{{ 'Start Time' }}</p>
                    <h3>{{appointment.start}}</h3>
                </div>
                <div class="flex-column">
                    <p>{{ 'End Time' }}</p>
                    <h3>{{appointment.end}}</h3>
                </div>
                <div class="actions column">   
                    <button 
                        *ngIf="userRole === 'doctor'"
                        style="margin-right:1rem;background-color:rgb(151,170,192)" 
                        mat-stroked-button 
                        (click)="acceptAppointment(appointment.id)">{{ 'View In Calendar' }}
                    </button>
                    <button 
                        *ngIf="userRole === 'doctor'"
                        style="margin-right:1rem;background-color:rgb(151,170,192)" 
                        mat-stroked-button 
                        (click)="acceptAppointment(appointment.id)">{{ 'Accept Appointment' }}
                    </button>
                    <button 
                        style="margin-right:1rem;background-color:rgb(177,158,191)" 
                        mat-stroked-button 
                        (click)="deleteAppointment(appointment.id)">{{ appointment.button }}
                    </button>
                </div>

            </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  