<div class="content-view-wrapper">
    <div class="img-wrapper">
        <img src="assets/front-page.jpg"/>
    </div>
    <div class="page" >
        <div @slideInOut  class="slide-block" [ngStyle]="{'transform': 'translateY(' + scrollOffset + 'px)'}">
            <div class="slide-div txt">
                <div class="flex-column" style="height:100%;">
                    <h1 class="title bg">Empathic health care center for all</h1>
                    <h1 class="sm">You are in safe hands!</h1>

                </div>
                <div class="flex-row clickable click" (click)="onLogIn()">
                    <h2 class="font">Log in to your account</h2>
                    <h2 style="height: 1.7rem;"><span class="material-symbols-outlined">
                    arrow_right
                    </span></h2>
                </div>
            </div>
            <div class="slide-div block font" style="margin-top:14rem;">
                <div class="flex-row"><h2>Same day appointments on call</h2><h2><span class="material-icons">
                    call_outlined
                    </span></h2></div>
                <div class="flex-row"><h2>Treatments & consultations</h2><h2><span class="material-symbols-outlined">
                    stethoscope
                    </span></h2></div>
                <div class="flex-row"><h2>All locations easily accessible</h2><h2><span class="material-symbols-outlined">
                    accessible
                    </span></h2></div>
            </div>
            <div class="slide-div block font" style="padding-top:0;margin-top:0;">
                <div class="flex-row"><h2>Infant & child care department</h2><h2><span class="material-symbols-outlined">
                    child_care
                    </span></h2></div>
                <div class="flex-row"><h2>Dental care department</h2><h2><span class="material-symbols-outlined">
                    dentistry
                    </span></h2></div>
                <div class="flex-row"><h2>Recovering physiotherapy unit</h2><h2><span class="material-symbols-outlined">
                    physical_therapy
                    </span></h2></div>
                <div class="flex-row"><h2>Psychotherapy department</h2><h2><span class="material-symbols-outlined">
                    psychology
                    </span></h2></div>
                <div class="flex-row"><h2>Special aid</h2><h2><span class="material-symbols-outlined">
                    hearing_aid
                    </span></h2></div>
            </div>
            <div class="block" id="personel" style="margin:16rem auto;">
                <h1>Our personel always there to help</h1>
                <div class="flex-row">
                    <div class="flex-column card">
                        <div class="card-img-wrapper">
                            <img src="assets/doc-3.jpeg"/>
                        </div>
                        <p>Some lorem ipsum lorem ipsum. A couple of sentences to fill this card space</p>
                    </div>
                    <div class="flex-column card">
                        <div class="card-img-wrapper">
                            <img src="assets/doc-2.jpeg"/>
                        </div>
                        <p>Some lorem ipsum lorem ipsum. A couple of sentences to fill this card space</p>
                    </div>
                    <div class="flex-column card">
                        <div class="card-img-wrapper">
                            <img src="assets/doc-1.png"/>
                        </div>
                        <p>Some lorem ipsum lorem ipsum. A couple of sentences to fill this card space</p>
                    </div>
                </div>
            </div>
            <div class="block" id="displayed-feedback">
                <h1>Our customer feedback</h1>
                <div class="flex-column">
                    <div class="flex-row row">
                        <div class="row-img-wrapper">
                            <img src="assets/cust-1.jpeg"/>
                        </div>
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt vulputate ad. Adipiscing morbi dapibus amet nec potenti mus suscipit dui. Ultricies auctor tempor interdum et ridiculus volutpat proin tortor erat. Gravida amet diam molestie sociosqu himenaeos nisl posuere habitasse.</p>
                    </div>
                    <div class="flex-row row">
                        <div class="row-img-wrapper">
                            <img src="assets/cust-2.png"/>
                        </div>
                        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt vulputate ad. Adipiscing morbi dapibus amet nec potenti mus suscipit dui. Ultricies auctor tempor interdum et ridiculus volutpat proin tortor erat. Gravida amet diam molestie sociosqu himenaeos nisl posuere habitasse.</p>
                    </div>
                    <div class="flex-row row">
                        <div class="row-img-wrapper">
                            <img src="assets/cust-3.png"/>
                        </div>
                        <p>Some lorem ipsum lorem ipsum. A couple of sentences to fill this card space. Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt vulputate ad. Adipiscing morbi dapibus amet nec potenti mus suscipit dui. Ultricies auctor tempor interdum et ridiculus volutpat proin tortor erat. Gravida amet diam molestie sociosqu himenaeos nisl posuere habitasse.</p>
                    </div>
                    <div class="flex-row row">
                        <div class="row-img-wrapper">
                            <img src="assets/cust-4.jpeg"/>
                        </div>
                        <p>Some lorem ipsum lorem ipsum. A couple of sentences to fill this card space. Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt vulputate ad. Adipiscing morbi dapibus amet nec potenti mus suscipit dui. Ultricies auctor tempor interdum et ridiculus volutpat proin tortor erat. Gravida amet diam molestie sociosqu himenaeos nisl posuere habitasse.</p>
                    </div>
                </div>
            </div>
            <div class="block flex-column follow-us">
                <h1>Follow us:</h1>
                <div class="flex-row">
                    <h1><span class="fa fa-facebook"></span></h1>
                    <h1><span class="fa fa-instagram"></span></h1>
                    <h1><span class="fa fa-linkedin"></span></h1>
                </div>
            </div>
        </div>
        <div class="text-block" >
            <mat-accordion class="visible-wrapper" >
                <div class="section flex-row" [ngClass]="setVisible1 ? 'visible':''">
                    <div class="text">
                        <h2>Emergency line</h2>
                        <h3 class="font">040 50 500</h3>
                    </div>
                    <div class="dotted-border"></div>
                    <div class="section-icon" style="margin-right:8px;">
                        <span class="material-symbols-outlined">phone_enabled</span>
                    </div>
                </div>
                <mat-expansion-panel (opened)="!panelOpenState = !panelOpenState " (closed)="panelOpenState = !panelOpenState" #feedbackPanel class="section flex-row" hideToggle style="box-shadow:none;border-radius:none;" [ngClass]="setVisible2 ? 'visible':''">
                    <mat-expansion-panel-header style="padding:0">

                        <div class="text">
                            <h2>Leave feedback</h2>
                            <h3 class="font">Share comments / complaints</h3>
                        </div>
                        <div class="dotted-border"></div>
                        <div class="section-icon">
                            <span class="material-symbols-outlined">feedback</span>
                        </div>
                        
                    </mat-expansion-panel-header>
                    <div class="expansion-content flex-column" [ngClass]="{ 'open': panelOpenState }" >
                        <div *ngIf="isSendingFeedback && !feedback" class="loading">
                            <app-loading></app-loading>
                        </div>
                        <div *ngIf="feedback && !isSendingFeedback" class="feedback">
                            <h3 style="color:white; line-height:6rem;">{{feedback}}</h3>
                        </div>
                        <div class="flex-column" [formGroup]="feedbackForm" *ngIf="!isSendingFeedback && !feedback">

                            <mat-form-field style="width:100%;margin:1rem 0;" >
                                <mat-label>{{ 'Add message' }}</mat-label>
                                <textarea 
                                    matInput 
                                    maxlength="1000" 
                                    [rows]="rows" 
                                    formControlName="text"
                                    [errorStateMatcher]="matcher"
                                    #text
                                ></textarea>

                                <mat-hint align="end">{{text.value.length}} / 1000</mat-hint>
                                <mat-hint *ngIf="feedbackForm.get('text')?.touched && feedbackForm.get('text')?.hasError('required')">Required</mat-hint>
                                <mat-hint *ngIf="feedbackForm.get('text')?.hasError('maxlength')">Message exceeds 1000 characters.</mat-hint>
 
                            </mat-form-field>
                            <div class="flex-row" >
                                <div class="flex-row hover" style="max-width:fit-content;">
                                    <mat-checkbox 
                                      (click)="$event.stopPropagation()"
                                      (change)="toggleChangeAnonymous($event)"
                                      [checked]="isAnonymous"
                                    >
                                    Anonymous
                                    </mat-checkbox>
                                </div>
                                  
                                <div class="flex-row hover" style="max-width:fit-content;padding-right:8px;">   
                                    <mat-checkbox 
                                        (click)="$event.stopPropagation()"
                                        (change)="toggleChangeContact($event)"
                                        [disabled]="isAnonymous"
                                        [checked]="requireContact"
                                    >
                                    Contact me
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="flex-row" >
                                <mat-form-field class="input" *ngIf="!isAnonymous" style="width:28rem;" >
                                    <mat-label>{{ 'Your name' }}</mat-label>
                                    <input matInput name="name" formControlName="name" required [errorStateMatcher]="matcher" >
                                    <mat-hint *ngIf="feedbackForm.get('name')?.touched && feedbackForm.get('name')?.hasError('required')">Name is required if not anonymous</mat-hint>
                                    <mat-hint *ngIf="feedbackForm.get('name')?.hasError('pattern')">Invalid characters</mat-hint>
 
                                </mat-form-field>
                                
                                <mat-form-field class="input" *ngIf="requireContact && !isAnonymous" style="width:28rem;">
                                    <mat-label>{{ 'Your email' }}</mat-label>
                                    <input matInput name="email" formControlName="email" required [errorStateMatcher]="matcher">
                                    <mat-hint *ngIf="feedbackForm.get('email')?.touched && feedbackForm.get('email')?.hasError('required')">Email is required for contacting</mat-hint>
                                    <mat-hint *ngIf="feedbackForm.get('email')?.hasError('pattern')">Invalid email format</mat-hint>
 
                                </mat-form-field>
                            </div>
                            <div class="icons right">
                                <div type="submit" (click)="onSendFeedback()" [ngClass]="feedbackForm.invalid ? 'disabled':''">
                                    <span matTooltip="Send" class="material-symbols-outlined" >send</span>
                                </div>
                                <div (click)="onCancelFeedback(feedbackPanel)">
                                    <span matTooltip="Cancel" class="material-symbols-outlined">cancel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="!panelOpenState = !panelOpenState " (closed)="panelOpenState = !panelOpenState" #newsletterPanel class="section flex-row" hideToggle style="box-shadow:none;border-radius:none;" [ngClass]="setVisible3 ? 'visible':''">
                    <mat-expansion-panel-header style="padding:0">
                        <div class="text">
                            <h2>Sign up for our Nerwsletter</h2>
                            <h3>Your email address</h3>
                        </div>
                        <div class="dotted-border"></div>
                        <div class="section-icon">
                            <span class="material-symbols-outlined">mail</span>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="expansion-content" [ngClass]="{ 'open': panelOpenState }">
                        <div *ngIf="!isSent" class="flex-row" style="margin-top:0.5rem;">
                            <mat-form-field class="input">
                                <mat-label>{{ 'Type here ..' }}</mat-label>
                                <input matInput [formControl]="newsletter">
                                <mat-hint *ngIf="newsletter.errors && newsletter.value && newsletter.touched">Invalid email format</mat-hint>
                            </mat-form-field>
                            <div class="icons">
                                <div type="button" (click)="onSendSubscription(newsletterPanel)" [ngClass]="(newsletter.errors || !newsletter.value) ? 'disabled':''">
                                    <span matTooltip="Send" class="material-symbols-outlined">send</span>
                                </div>
                                <div (click)="onCancelSubscribe(newsletterPanel)">
                                    <span matTooltip="Cancel" class="material-symbols-outlined">cancel</span>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="isSent" class="center">
                            <h3>Thank you for subscribing!</h3>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>         
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="flex-row">
                <div class="flex-column">
                    <em>Helsinki</em>
                    <span>Mon-Fri: 8:00 - 18:00</span>
                    <span>0 40 50 6001</span>
                    <span>Josefatinkatu 12</span>
                </div>
                <div class="flex-column">
                    <em>Espoo </em>
                    <span>Mon-Fri: 8:00 - 18:00</span>
                    <span>0 40 50 6002</span>
                    <span>Johansenkatu 10</span>
                </div>
                <div class="flex-column">
                    <em>Tampere</em>
                    <span>Mon-Fri: 8:00 - 18:00</span>
                    <span>0 40 50 6003</span>
                    <span>Tampereen valtatie 35</span>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Quam maecenas tortor integer commodo posuere commodo, blandit consequat. Metus inceptos viverra taci ti mag ti tellus. </p>
                <br>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Quam maecenas tortor integer commodo posuere commodo, blandit consequat. Metus inceptos viverra taciti magna justo mattis tellus. </p>
            </div>
            <div style="float:right;">by Ieva Vyliaudaite, Helsinki 2024</div>
        </div>
    </footer>
</div>
