<mat-sidenav-container>
    <mat-sidenav [opened]="true" mode="side" class="sidenav">
        <mat-nav-list style="padding:0;">
            <a mat-list-item [routerLink]="['/home', 'user']" *ngIf="userRole" routerLinkActive="activeLink">
                <div class="flex">
                    <span>{{ 'My Account' }}</span>
                    <span [ngStyle]="{visibility: !isUserUpdated ? 'visible':'hidden'}" class="icon material-symbols-outlined">info</span>
                </div>
            </a>
            <a mat-list-item (click)="onAppointmentsClick()" [routerLink]="['/home','appointments']" *ngIf="userRole !== 'admin' && isUserUpdated" routerLinkActive="activeLink">
                <div class="flex" >
                    <span>{{ 'Appointments' }}</span>
                    <span [ngStyle]="{visibility: !isUserUpdated || isNowAppointment ? 'visible':'hidden'}" class="icon material-symbols-outlined">info</span>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','records']" *ngIf="userRole !== 'admin' && countRecords>0" routerLinkActive="activeLink">
                <div class="flex">
                    <span>{{ 'Medical Records' }}</span>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','users']" *ngIf="userRole === 'admin'" routerLinkActive="activeLink">
                <div class="flex" (click)="onDoctorsClick()">
                    <span>{{ 'Doctors' }}</span>
                    <span [ngStyle]="{visibility: countDoctorRequests>0 ? 'visible':'hidden'}" class="icon material-symbols-outlined">info</span>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','patients']" *ngIf="userRole === 'admin'" routerLinkActive="activeLink">
                <div class="flex">
                    <span>{{ 'Patients' }}</span>
                </div>
            </a>
            <a mat-list-item [routerLink]="['/home','messages']" routerLinkActive="activeLink"  *ngIf="userRole !== 'patient'">
                <div class="flex">
                    <span>{{ 'Messages' }}</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">  
        <div class="page" *ngIf="isHomeRoute">
            <div class="block" *ngIf="userRole ==='admin'">
                <div class="flex-row"><h2 class="font">New doctor account activation requests </h2><h2><span>{{countDoctorRequests}}</span></h2></div>
                <div class="flex-row"><h2 class="font">Missed appointment requests</h2><h2><span>{{countMissedAppointments}}</span></h2></div>
                <div class="flex-row"><h2 class="font">Registered doctors</h2><h2><span>{{countDoctors}}</span></h2></div>
                <div class="flex-row"><h2 class="font">Registered patients</h2><h2><span>{{countPatients}}</span></h2></div>
            </div>
        
            <div class="block" *ngIf="userRole ==='doctor'">
                <div class="flex-row" *ngIf="nextAppointmentStartTime"><h2 class="font">Next appointment, <em>patient</em></h2><h2><span>{{nextAppointmentStartTime}}<em>, {{nextAppointmentName}}</em></span></h2></div>
                <div class="flex-row"><h2 class="font">Pending appointment requests </h2><h2><span>{{countPendingAppointments}}</span></h2></div>
                <div class="flex-row"><h2 class="font">Accepted appointments </h2><h2><span>{{countUpcomingAppointments}}</span></h2></div>  
                <div class="flex-row"><h2 class="font">Patients</h2><h2><span>{{countPatients}}</span></h2></div>
                <div class="flex-row"><h2 class="font">Missed appointment requests</h2><h2><span>{{countMissedAppointments}}</span></h2></div>
            </div>
        
            <div class="block" 
                *ngIf="userRole ==='patient' && me.streetAddress">
                <div class="flex-row" *ngIf="nextAppointmentStartTime"><h2 class="font">Next appointment, <em>doctor</em></h2><h2><span>{{nextAppointmentStartTime}}<em>, Dr {{nextAppointmentName}}</em></span></h2></div>
                <div class="flex-row"><h2 class="font">Pending appointment requests </h2><h2><span>{{countPendingAppointments}}</span></h2></div>
                <div class="flex-row"><h2 class="font">Upcoming appointments </h2><h2><span>{{countUpcomingAppointments}}</span></h2></div>     
                <div class="flex-row"><h2 class="font">Missed appointment requests</h2><h2><span>{{countMissedAppointments}}</span></h2></div>
                <div class="flex-row"><h2 class="font">Medical records </h2><h2><span>{{countRecords}}</span></h2></div>      
            </div>
        
            <div class="btn-block"  style="margin-top: 12rem;" *ngIf="userRole ==='patient' && !me.streetAddress">
                <div style="margin-bottom: 2rem;">
                    <h3>Welcome!</h3>
                    <p class="title" style="font-size: 2rem;">Complete setting up your account</p>
                    <em>Please fill out your contact details to use Health Center services. By adding the information you agree to our Terms of Service and allow us handling your personal details. We guarantee no third parties have access to the details you provide. All personal information is saved only in our internal database. Requested contact details will be used for contacting and billing.</em>
                </div>
                <button mat-stroked-button style="width:14rem;"><a [routerLink]="['/home/user']">{{'Update Information'}}</a></button>
            </div>
        </div> 
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

