@import '../../scss/mixins';
@import '../../scss/breakpoints';

.mat-accordion {
    --mat-expansion-container-background-color: transparent;
    --mat-expansion-header-collapsed-state-height:100%;
    --mat-expansion-header-expanded-state-height:100%;
    --mat-expansion-header-hover-state-layer-color:none;
    --mat-expansion-container-shape:none;
    --mat-expansion-container-text-color: rgb(214, 222, 230);
    --mdc-outlined-text-field-outline-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-focus-outline-color:rgb(214, 222, 230);

    --mdc-filled-text-field-focus-label-text-color:rgb(214, 222, 230);
    --mdc-filled-text-field-focus-active-indicator-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-label-text-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-focus-label-text-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-input-text-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-caret-color:rgb(214, 222, 230);
    --mat-form-field-container-text-weight:900;
    --mat-form-field-container-text-size:22px;

    --mdc-checkbox-selected-icon-color: rgb(214, 222, 230);
    --mdc-checkbox-selected-icon-color:rgb(214, 222, 230);
    --mdc-checkbox-selected-hover-icon-color:rgb(214, 222, 230);
    --mdc-checkbox-selected-hover-state-layer-color: rgb(214, 222, 230);
    --mdc-checkbox-selected-pressed-icon-color:rgb(214, 222, 230);
    --mdc-checkbox-selected-focus-state-layer-color:rgb(214, 222, 230);
    --mdc-checkbox-selected-focus-icon-color:rgb(214, 222, 230);
    --mdc-checkbox-selected-pressed-state-layer-color:rgb(214, 222, 230);
    --mdc-checkbox-unselected-icon-color:rgb(214, 222, 230);
    --mdc-checkbox-unselected-focus-icon-color:rgb(214, 222, 230);
    --mdc-checkbox-unselected-focus-state-layer-color:rgb(214, 222, 230);
    --mdc-checkbox-unselected-hover-state-layer-color:rgb(214, 222, 230);

    --mdc-checkbox-disabled-selected-icon-color:darkgrey;
    --mdc-checkbox-disabled-selected-checkmark-color:transparent;
    --mdc-checkbox-disabled-unselected-icon-color:rgb(174,182,188);
    --mat-checkbox-disabled-label-color:rgb(174,182,188);

    --mdc-outlined-text-field-error-focus-label-text-color:orange;
    --mdc-outlined-text-field-error-label-text-color:orange;
    --mdc-outlined-text-field-error-caret-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-error-outline-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-error-focus-outline-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-error-hover-label-text-color:rgb(214, 222, 230);
    --mdc-outlined-text-field-error-hover-outline-color:orange;
    --mdc-outlined-text-field-label-text-size: 14px;

    --mdc-filled-text-field-error-active-indicator-color: orange;
    --mdc-filled-text-field-error-focus-active-indicator-color: orange;
    --mdc-filled-text-field-error-hover-active-indicator-color: orange;
}
.mat-mdc-checkbox {
    --mdc-form-field-label-text-size:16px;
    --mdc-form-field-label-text-weight:900;
    --mdc-form-field-label-text-color:rgb(214, 222, 230)!important;
}
.page {
    width: 70%;
    height:auto;
    @include respond-to(mobile-and-tablet) {
        width: 80%;
        max-width:80%;
    }
    @include respond-to(mobile-6x) {
        width: 90%;
        max-width:90%;
        padding:0;
    }
}
.content-view-wrapper {
    max-width: 120rem;
    display: flex; 
    flex-direction: column;
    background-color:rgb(188, 198, 210);
    z-index: 1;
    position:absolute;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    @include respond-to(mobile-and-tablet) {
        width:100%;
    }
}
h2 {
    margin:0;
}
.img-wrapper {
    position: absolute;
    z-index: 0;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    overflow: hidden;
    height: calc(100vh * 9/16); 
    width:100%;
    img {
        opacity: 0.8;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.slide {
    will-change: transform;
    margin-bottom: clamp(4rem, 8vw, 16rem);
    &:not(.slide__top, .slide__second, .slide__third) {
        margin-top: clamp(5rem, 12vw, 16rem);
    }
    &__title {
        font-size: clamp(1rem, 2vw, 2.5rem);
        align-self: center;
        margin-bottom: clamp(2rem, 4vw, 6rem);
    }
    p {
        font-size: clamp(0.8rem, 2vw, 1rem);
    }

    &__top {
        height: clamp(18rem, 28vw, 30rem); 
        margin-bottom: clamp(4rem, 4vw, 6rem);
    }
    &__personel {
        color: rgb(245,245,245);
        width: 85%;
        margin:auto;
        justify-self: center; 
    }
    &__feedback {
        color: rgb(245,245,245);
        padding: 0 1rem;
        .flex-row {
            width: 100%;
            justify-content: space-between;
            p {
                width: 80%;
                padding: 0 1rem;
            }
        }
    }
    &__follow-us {
        color: rgb(245,245,245);
        width: 80%;
        margin: auto;
        span {
            font-size: clamp(2rem, 5vw, 3rem);
            transition: all 0.1s ease;
            &:hover {
                cursor: pointer;
                filter: drop-shadow(0 0 8px rgb(245,245,245));
            }
        }
    }
}
.border {
    width:50%;
    @include respond-to(mobile-6x) { 
        width:90%;
    }
    border: 1px solid;
    padding: 0.2rem 1rem;
    margin: 0.2rem;
    height: clamp(0.6rem, 1.8vw, 1.8rem); 
    line-height: clamp(0.6rem, 1.8vw, 1.8rem); 
    h2 {
        width: max-content;
        font-size: clamp(0.6rem, 1.5vw, 1rem);
        font-weight: 400;
    }
    span {
        font-size: clamp(1rem, 3vw, 1.5rem);
        line-height: clamp(0.6rem, 2vw, 1.5rem); 
        width: 1rem;
        float: right;
    }
    @include respond-to(mobile-6x) {
        &__icon {
            width:1rem;
        }
    }
    &__pink {
        border-color: rgba(188, 90, 186, 0.9);
        color: rgba(188, 90, 186, 0.9);
    }
    &__white {
        border-color: rgb(245,245,245);
        color: rgb(245,245,245);
    }
}

.text-block {
    border-radius: 5px;
    width: 70%;
    position: absolute;
    top: 512px; 
    background: linear-gradient(to bottom, transparent 0%, rgb(138 155 174));
    opacity: 0.8;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: height 0.5s ease-in-out;

    @include respond-to(mobile-and-tablet) {
        width:80%;
    }
    @include respond-to(mobile-6x) {
       width: 90%;
        &.mat-expansion-panel-body {
            padding: 0;
        }
    }
}
.slide-block {
    position: relative;
    z-index: 2;
    will-change: transform;
}

footer {
    background-color: #F5F5F5;
    height: 20rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: smaller;
    @include respond-to(tablet) {
        height:20rem;
    }
    @include respond-to(mobile) {
        font-size:0.8rem;
        height:18rem;
    }
    @include respond-to(mobile-x) {
        font-size:smaller;
        height:18rem;
    }
    @include respond-to(mobile-6x) {
        font-size:10px;
        height:15rem;
    }
}
.footer {
    padding-top: 2rem;
    width: 65%;
    margin: 0 auto;
    height: 100%;
    @include respond-to(desktop-5x) {
        width: 78%;
    }
    @include respond-to(mobile-and-tablet) {
        width: 78%;
        padding-top:2rem;
    }
    @include respond-to(mobile-6x) {
        width: 88%;
        padding-top:1rem;
    }
}
.footer-bottom {
    margin: 4rem 0 2rem 0;
    @include respond-to(mobile-and-tablet) {
        margin: 2rem 0;
    }
}

.accordion-wrapper {
    width:80%;
    margin-bottom:4rem;
    @include respond-to(mobile-and-tablet) {
        width:90%;
    }
}

.bg {
    font-size: clamp(1.8rem, 6vw, 8rem);
    color: #6c7682;
    margin:0;
    margin-bottom: clamp(1rem, 2vw + 0.5rem, 3rem);
}
.sm {
    float: right;
    color: rgb(245,245,245);
    font-weight: 600;
    margin:0 0 auto auto;
    font-size: clamp(1rem, 2vw, 3rem);
}
.click {
    font-family: "Special Elite", system-ui;
    height: 1.8rem;
    width: 100%;
   
    &h2:hover {
        background-color: rgb(175 111 174 / 40%);
        color: #F5F5F5;
        cursor: pointer;
    }
}
.block {
    padding-top: 4rem;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color:  rgb(245,245,245);
    @include respond-to(mobile-6x) {
        padding-top:0;
        margin:0;
    } 
    .flex-row {
        width: 100%;
    }
}

.card {
    width: 14rem;
    justify-content: space-evenly;    
    p {
        margin: 3rem 5px;
        text-align: center;
        @include respond-to(mobile-6x) {
            margin:2rem 5px;
        }
    }
}
.card-img-wrapper {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    align-self: center;
    img {
        border-radius: 50%;
        opacity:0.8;
    }
    @include respond-to(desktop-5x) {
        height: 10rem;
        width: 10rem;
    }
    @include respond-to(mobile-and-tablet) {
        height:8rem;
        width: 8rem;
       
    }
    @include respond-to(mobile-6x) {
        height:5.5rem;
        width: 5.5rem;
        &p {
            font-size:10px;
        }   
    }
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row {
    width: 40rem;
    border: 1px solid #F5F5F5;
    .row-img-wrapper {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin: 1rem;
        opacity:0.8;
        @include respond-to(tablet) {
            width: 7rem;
            height: 6rem;
        }
        @include respond-to (mobile){
            width: 6rem;
            height: 5rem;
        }
        @include respond-to (mobile-x){
            width: 6rem;
            height: 5rem;
            margin: 0.5rem;
        }
        @include respond-to (mobile-6x){
            margin: 5px;
            height: 4rem;
            width:5rem;
        }
        img {
            border-radius: 50%;
        }
    }
    margin: 0.5rem 0;
}
textarea{
    overflow: hidden;
    resize: none;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-left:1rem;
    width: 8rem;
    &>div:hover{
        filter: brightness(1.8); 
        cursor: pointer;
    }
    .material-symbols-outlined {
        color:  rgb(214, 222, 230);
        font-size: 3rem;
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
    &.right{
        margin-top:2rem;
        align-self: flex-end;

    }
}
mat-hint {
    font-size: 0.8rem;
}
.section {
    margin-bottom:1rem;
    padding-left:1rem;
    transition: opacity 0.2s ease-in;

    .dotted-border {
        flex: 1;
        align-self:center;
        margin: 0 0.5rem 0 4rem; 
        border-bottom: dotted 4px rgba(115, 72, 114, 0.7);
        @include respond-to(mobile-x) {
            border-bottom: dotted 4px rgba(115, 72, 114, 0.7);
        }
        @include respond-to(mobile-x) {
            border-bottom: dotted 4px rgba(115, 72, 114, 0.7);
        }
        @include respond-to(mobile-6x) {
            border-bottom: dotted 3px rgba(115, 72, 114, 0.7);
        }
    }
    .text {
        flex: auto 1 0; 
        max-width: fit-content;
        color:  rgb(239 239 239);
        align-self: center;
        h4 {
            padding:0;
            margin:0;
            width:max-content;
        }
        @include respond-to(mobile) {
            font-size:13px;
        }
        @include respond-to(mobile-x) {
            font-size:11px;
        }
        @include respond-to(mobile-6x) {
            font-size:0.5rem;
        }
    }
    .section-icon {
        flex: 0 0 6.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 6.5rem;
        width:6.5rem;
        border-radius: 50%;
        background-color: rgba(115, 72, 114, 0.8); 
        @include respond-to(mobile) {
            height: 6rem;
            flex: 0 0 6rem;
        }
        @include respond-to(mobile-x) {
            height: 5rem;
            flex: 0 0 5rem;
        }
        @include respond-to(mobile-6x) {
            height: 4rem;
            flex: 0 0 4rem;
        }
    
        .material-symbols-outlined {
            color:  rgb(214, 222, 230);
            font-size: 3rem;
            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;

            @include respond-to(mobile) {
                font-size: 2.2rem;
            }
            @include respond-to(mobile-x) {
                font-size: 2rem;
            }
            @include respond-to(mobile-6x) {
                font-size: 1.6rem;
            }
        }
    }
    &.visible {
        opacity: 1;
    }
    opacity:0;
    border-left: solid 0.5px rgb(239 239 239);
}
mat-expansion-panel-header:hover{
    filter: brightness(1.8); 
    cursor: pointer;
}
.expansion-content.flex-row {  
    &.mdc-label {
        color: rgb(239 239 239)!important;
    }
    margin-top:2rem;
    justify-content: flex-start;
    align-items: center;
    &.hover:hover {
        filter: brightness(1.8); 
        cursor: pointer;
    }
    .material-symbols-outlined {
        color:  rgb(214, 222, 230);
        font-size: 3rem;
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
}

.input {
    width:80%;
}
.disabled {
    pointer-events: none;
    filter: brightness(0.8);
}
.feedback{
    align-self: center;
    height: 6rem;
    display: flex;
    height:6rem;
    justify-content: center;
    transition: height 0.4s ease-in-out;
}
.loading {
    padding:0;
}
.size {
    @include spinner-size(3rem);
    &.loading {
        height:6rem;
        transition: height 0.4s ease-in-out;
    }
}

.expansion-content {
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease-in-out;
  
    &.open {
      height: auto; 
    }
  }
  .center {
    height: 4rem;
    text-align: center;
    line-height: 4rem;
  }