.block {
    font-size: smaller;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    z-index: 1;
    .flex-row {
        width: 100%;
    }
    h2, h4{
        border: 1px solid  rgb(68, 65, 65);
        padding: 0.5rem 1.5rem;
        width: 50%;
        margin: 0.2rem;
        align-items: center;
        span {
            float: right;
            font-size: 14px;
            padding: 2px 0;
        }
        .material-symbols-outlined {
            font-size: larger;
        }
    }
    .font {
        font-size: 18px;
    }
}
* {
    color: rgb(53, 52, 52); 
}
.page {
    width: 75%;
    margin-top: 8rem;
}

.content {
    background-color: rgb(188, 198, 210);
}

button {
    background-color: rgb(175 111 174 / 40%);
}

.sidenav {
    background-color: rgb(172,188,207);
    border-right: 0.8px solid darkgray;
    width: 18rem;
}
.title {
    color: rgb(139,149,161);
    margin-bottom:1rem;
}

mat-sidenav {
    border-right: 1px solid rgb(229,238,245);
}
mat-nav-list{
    a {
        border-radius:0;
        border-bottom: 1px solid rgb(130, 128, 128);
    }
}
button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2rem;
    margin: 0;
    height: 3rem;
    border-radius: none;
}
.activeLink {
    background-color: rgb(139, 149, 161);
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    border-radius: 50%;
    padding: 3px;
    opacity: 0.6;
}
a:hover .icon {
    background: rgb(139, 149, 161);
    border-radius: 50%;
    padding: 3px;
}
.next-appointment {
    margin: 0.2rem;
    margin-bottom: 3rem;
    background-color: rgb(215 222 230);
}
.time-wrapper {
    h3, p, em {color: rgb(111 121 133);}
    h1 {
        margin: 0.2rem;
        color: rgb(115 72 114 / 70%);
    }
}
#patient-details {
    align-self: baseline;
    width: 52%;
    font-size: 18px;
    margin-right: -1rem;
    z-index: 1;
    h2 {line-height: 20px;}
    span {line-height: 15px;}
    h2, span {    
        border-color: rgb(68, 65, 65);
    }
}
#bg-icon {
    position: absolute;
    font-size: 34rem;
    right: 65px;
    top: 31px;
    transform: rotate(21deg);
    color: darkgray;
    opacity: 0.3;
}
#last-login {
    h2,span {    
        color: rgb(139 0 136 / 70%);
        border-color: rgb(139 0 136 / 70%);

    }
}
.clickable {
    height: 31px;
    margin-top: 5px;
}
.disabled {
    pointer-events: none;
}

