.page {
    max-height: calc(100vh + 65rem);
    margin-bottom: 6rem;
}
.content-view-wrapper {
    display: flex; 
    flex-direction: row;
    height: 100%;
    background-color:rgb(188, 198, 210);
}
.container {
    width: calc(100vw - 18rem); 
}

.slide-div {
    z-index: 4;
    margin: 4rem 0;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    position: relative;
    will-change: transform;
  }

footer {
    background-color: #F5F5F5;
    height: 25rem;
}
.footer {
    padding-top: 4rem;
    width: 65%;
    margin: 0 auto;
}

.footer-bottom {
    margin: 4rem 0;
}
.text-block {
    border-radius: 5px;
    width: 70%;
    height: 54rem;
    margin-bottom: 12rem;
    position: absolute;
    top: 512px; 
    background: linear-gradient(to bottom, transparent 0%, rgb(158,176,197));
    opacity: 0.5;
    transition: top 0.1s ease-out; 
}
.img-wrapper {
    position: absolute;
    z-index: 0;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    img {
        width: 100%;
        opacity: 0.8;
    }
}
.bg {
    font-size: 6rem;
    color: #6c7682
}
.sm {
    float: right;
    color: rgb(245,245,245);
    font-weight: 600;
    margin-top:0;
    font-size: 2.5rem;
}
.txt {
    margin-bottom: 4rem;
    background-color: transparent;
    border: none;
}

.block {
    padding-top: 4rem;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color:  rgb(245,245,245);
    .flex-row {
        width: 100%;
    }
    h2 {
        border: 1px solid rgb(245,245,245);
        padding: 0.5rem 1.5rem;
        width: 50%;
        margin: 0.2rem;
        align-items: center;
        font-weight: 400;
        span {
            float: right;
            width: 1rem;
        }
    }
}
#top {
    margin-top: 8rem;
}
#animation-wrapper {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 95rem;

}
#personel {
    margin-top: 6rem;
    text-align: center;
    padding: 0 4rem;
    h1 {
        align-self: center; 
        margin: 12rem auto 6rem auto;
    }
    .flex-row {
        width: 100%;
    }
}

.card {
    width: 16rem;
    justify-content: space-evenly;
    
    p {
        margin: 3rem 0;
        align-self: center;
        font-size: larger;
    }
}
.card-img-wrapper {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    align-self: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
.row {
    width: 40rem;
    border: 1px solid #F5F5F5;
    .row-img-wrapper {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin: 1rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;

        }
    }
    margin: 0.5rem 0;
}
#feedback {
    margin-top: 8rem;
    padding: 0 1rem;
    h1 {
        align-self: center; 
        margin: 12rem auto 6rem auto;
    }
    .flex-row {
        width: 100%;
        justify-content: space-between;
    }
    p {
        width: 80%;
        padding: 0 2rem;
        font-size: larger;
    }
} 
h1 {
    font-size: 2.8rem;
}

.typing-container {
    font-size: 4rem;
    font-family: "Special Elite", system-ui;
    display: inline-block;
    white-space: nowrap;
    margin:auto;
    margin-bottom: 6rem;
}
.input {
    width: 80%;
    margin:0;
    margin-bottom: 6rem;
    margin-top: 4rem;
}
.follow-us {
    width: 70%;
    margin:auto;

}
.click {
    font-family: "Special Elite", system-ui;
    position: absolute;
    bottom: -80px;
    height: 2.5rem;
    width: 100%;
    h2 {
        width: 50%;
        border: 1px solid  rgba(188, 90, 186, 0.9); 
        color:  rgba(188, 90, 186, 0.9); 
        padding: 10px 16px;
        margin: 3px;
        span {
            width: 1rem;
            float: right;
        }
    }
    &h2:hover {
        background-color: rgb(175 111 174 / 40%);
        color: #F5F5F5;
        cursor: pointer;
    }
}