@import '../../../../mixins';

.header-icon {
    font-size: 2rem;
    color: gray;
    margin: 5px;
    &#chat-icon {
        position:absolute;
        right: 50px;
        top: 4px;
    }
    &:hover {
        cursor: pointer;
    }
}
.icon-wrapper {
    position:relative;
}
.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.6;
}
.sm {
    @include spinner-size(30px);
    &.flex-row{
        width: 6rem;
    }
}

