@import '../../scss/mixins';
@import '../../scss/breakpoints';
@import '../../scss/colors';

.header-toolbar {
    --mat-badge-text-size: 10px;
    --mat-badge-legacy-container-size: 18px;
    .mat-badge-content {
        background:  $--color-pink-cloudy-primary;
        color: $--color-white-warm;
        font-weight: 900;
    }

    position:relative;
    height: 3rem;
    border-bottom: 0.8px solid darkgray;
    @include respond-to(mobile-and-tablet) {
        position:relative;
    }
    @include respond-to(tablet) {
        position:relative;
    }
    p {
        align-self: center;
    }
    &__title {
        margin: auto 1rem;
        @include respond-to(mobile-and-tablet) {
            display:none;
        }
    }

    &__status {
        margin-left: 0.5rem;
        color: gray;
        @include respond-to(desktop-5x) {
            display:none;
        }
        @include respond-to(mobile-6x){    
            margin:1rem 5px;
        }
        @include respond-to(small-mobile-x){    
            margin:1rem 5px;
        }
    }

    &__framed {
        border: 1px solid darkgray;
        border-radius: 3px;
        padding: 0 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        height: 1.7rem;
        line-height: 1.7rem;
        @include respond-to(mobile-6x){    
            margin:auto 0;
            padding:0 5px;
        }
        @include respond-to(small-mobile-x){    
            margin:auto 5px;
        }
    }

    &__spacer {
        flex: 1 1 auto;
    }

    &__loading {
        &.flex-row {
            width:6rem;
        }
        &--sm {
            @include spinner-size(30px);
        }
    }

    &__icons {
        margin-right:1rem;
        @include respond-to(mobile-and-tablet) {
            position:absolute;
            right: 105px;
        }
    }

    &__icon {
        font-size: 1.8rem;
        color: gray;
        margin: 5px;

        &:hover {
            cursor: pointer;
        }

        &--chat {
            position: absolute;
            right: 50px;
            top: 4px;
        }

        &--disabled {
            cursor: default;
            pointer-events: none;
            opacity: 0.6;
        }
    }

    &__button {
        height: 1.9rem;
        @include respond-to(desktop-5x) {
            --mdc-outlined-button-outline-color:darkgrey;
        }
    }
}


