
<mat-dialog-content>
    <h2 mat-dialog-title>{{ title }}</h2>
</mat-dialog-content>
<mat-dialog-actions align="center" class="actions">
    <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial (click)="onDirectLoginClick()" color="primary" class="btn">
        Administrator
        <mat-divider></mat-divider>
        Direct Login
    </button>
    <button id="google-button"></button>
    <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial (click)="onDirectLoginClick()" color="primary" class="btn">
        Customer
        <mat-divider></mat-divider>
        Bank Login
    </button>
    <button mat-stroked-button mat-dialog-close color="secondary" style="margin-top:2rem;">Cancel</button>
</mat-dialog-actions>