.actions {
    display: flex;
    flex-direction: column;
    .btn {
        margin: 0.5rem;
        height: auto;
        padding: 0 4rem;
        mat-divider {
            width: 15rem;
        }
    }
}