<mat-dialog-content>
    <h4 class="title">{{ 'Additional information' }}</h4>
    <mat-form-field style="width:100%;margin:1rem 0;">
        <mat-label>{{ 'Add message' }}</mat-label>
        <textarea matInput #message maxlength="700" #textarea  (input)="adjustHeight($event)"></textarea>
        <mat-hint align="end">{{characterCount}} / 700</mat-hint>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="submit" mat-button id="confirm-btn" [mat-dialog-close]="true" cdkFocusInitial (click)="onSaveClick(message.value)"><p>{{'Save'}}</p></button>
    <button type="button" mat-button (click)="onCancelClick()"><p>{{'Cancel'}}</p></button>
</mat-dialog-actions>

