.flex-row {
    padding:1rem 1rem 0 0;
    p {
        float:left;
        font-size: 1rem;
        font-weight: 700;
        strong {
            font-weight: 900;
        }
    }
    span {
        float: left;
        font-size: 10rem;
        font-weight: 900;
        opacity:0.5;
    }
}