<div class="snackbar-container ">
    <ng-container *ngFor="let snackbar of snackbars$ | async">
        <div class="snackbar flex-row bg--pink--cloudy--primary">
            <div *ngIf="!snackbar.chatId">
                {{ snackbar.message }}
            </div>
            <button 
                *ngIf="snackbar.event !== ('APPOINTMENT_UPDATED' || 'APPOINTMENT_DELETED' || 'APPOINTMENT_CANCELLED' || 'USER_UPDATED')"
                mat-stroked-button ="snackbar.id" 
                class="bg--gray--warm--primary" 
                (click)="onOpen(snackbar)">
                <p>Open</p>
            </button>
        </div>
    </ng-container>
</div>