<div 
    class="content-view-wrapper" 
    (window:scroll)="onWindowScroll()" 
    #wrapper
    [style.height]="wrapperHeight"
>
    <div class="img-wrapper">
        <img src="assets/front-page.jpg"/>
    </div>
    <div class="page">
        <div 
            @slideInOut  
            class="slide-block" 
            (window:resize)="onWindowResize()"  
            [ngStyle]="{'transform': 'translateY(' + parallaxOffset + 'px)'}"
        >
            <div class="slide slide__top flex-column" style="position:relative;">
                <!-- <img id="stamp" src="assets/stamp.png" alt="Decorative watermark stamp" /> -->
                
                <h1 class="title bg">Empathic health care center for all</h1>
                <h3 class="sm">You are in safe hands!</h3>

                <div class="flex-row clickable click" (click)="onLogIn()">
                    <div class="block--bordered--sm border-color-pink-cloudy">
                        <p class="font">Log in to your account</p>
                    </div>
                    <div class="block--bordered--sm border-color-pink-cloudy  ">
                        <span class="material-symbols-outlined">arrow_right</span>
                    </div>
                </div>
            </div>

            <div class="slide slide__second font">
                <div class="flex-row">
                    <div class="block--bordered--sm border-color-white">   
                        <p>Same day appointments on call</p>
                    </div>
                    <div class="block--bordered--sm border-color-white"> 
                        <span class="material-icons">call_outlined</span>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="block--bordered--sm border-color-white"> 
                        <p>Treatments & consultations</p>
                    </div>
                    
                    <div class="block--bordered--sm border-color-white"> 
                        <span class="material-symbols-outlined">stethoscope</span>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="block--bordered--sm border-color-white"> 
                        <p>All locations easily accessible</p>
                    </div>

                    <div class="block--bordered--sm border-color-white"> 
                        <span class="material-symbols-outlined">accessible</span>
                    </div>   
                </div>
            </div>

            <div class="slide slide__third font">    
                <div class="flex-row">
                    <div class="block--bordered--sm border-color-white">
                        <p>Infant & child care department</p>
                    </div>
                    <div class="block--bordered--sm border-color-white">
                        <span class="material-symbols-outlined">child_care</span>
                    </div>
                </div>
                    
                <div class="flex-row">
                    <div class="block--bordered--sm border-color-white">
                        <p>Dental care department</p>
                    </div>
                    <div class="block--bordered--sm border-color-white">
                        <span class="material-symbols-outlined">dentistry</span>
                    </div>
                </div>
                    
                <div class="flex-row">
                    <div class="block--bordered--sm border-color-white">
                        <p>Recovering physiotherapy unit</p>
                    </div>
                    <div class="block--bordered--sm border-color-white">
                        <span class="material-symbols-outlined">physical_therapy</span>
                    </div>
                </div>
                    
                <div class="flex-row">
                    <div class="block--bordered--sm border-color-white">
                        <p>Psychotherapy department</p>
                    </div>
                    <div class="block--bordered--sm border-color-white">
                        <span class="material-symbols-outlined">psychology</span>
                    </div>
                </div>
                    
                <div class="flex-row">
                    <div class="block--bordered--sm border-color-white">
                        <p>Special aid</p>
                    </div>
                    <div class="block--bordered--sm border-color-white">
                        <span class="material-symbols-outlined">hearing</span>
                    </div>
                </div>
            </div>

            <div class="slide slide__personel flex-column">
                <h2 class="slide__title">Our personel always here to help</h2>
                <div class="flex-row">
                    <div class="flex-column card">
                        <div class="card-img-wrapper">
                            <img src="assets/doc-3.jpeg"/>
                        </div>
                        <p>Some lorem ipsum lorem ipsum. A couple of sentences to fill this card space</p>
                    </div>
                    <div class="flex-column card">
                        <div class="card-img-wrapper">
                            <img src="assets/doc-2.jpeg"/>
                        </div>
                        <p>Some lorem ipsum lorem ipsum. A couple of sentences to fill this card space</p>
                    </div>
                    <div class="flex-column card">
                        <div class="card-img-wrapper">
                            <img src="assets/doc-1.png"/>
                        </div>
                        <p>Some lorem ipsum lorem ipsum. A couple of sentences to fill this card space</p>
                    </div>
                </div>
            </div>
            
            <div class="slide flex-column slide__feedback">
                <h2 class="slide__title">Our customer feedback</h2>
                <div class="flex-column">
                    <div class="flex-row row">
                        <div class="row-img-wrapper">
                            <img src="assets/cust-1.jpeg"/>
                        </div>
                        <p *ngIf="isDesktop">Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt vulputate ad. Adipiscing morbi dapibus amet nec potenti mus suscipit dui. Ultricies auctor tempor interdum et ridiculus volutpat proin tortor erat. Gravida amet diam molestie sociosqu himenaeos nisl posuere habitasse.</p>
                        <p *ngIf="!isDesktop">Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt.. <em>Read more...</em></p>
                    </div>
                    <div class="flex-row row">
                        <div class="row-img-wrapper">
                            <img src="assets/cust-2.png"/>
                        </div>
                        <p *ngIf="isDesktop">Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt vulputate ad. Adipiscing morbi dapibus amet nec potenti mus suscipit dui. Ultricies auctor tempor interdum et ridiculus volutpat proin tortor erat. Gravida amet diam molestie sociosqu himenaeos nisl posuere habitasse.</p>
                        <p *ngIf="!isDesktop">Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt.. <em>Read more...</em></p>
                    </div>
                    <div class="flex-row row">
                        <div class="row-img-wrapper">
                            <img src="assets/cust-3.png"/>
                        </div>
                        <p *ngIf="isDesktop">Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt vulputate ad. Adipiscing morbi dapibus amet nec potenti mus suscipit dui. Ultricies auctor tempor interdum et ridiculus volutpat proin tortor erat. Gravida amet diam molestie sociosqu himenaeos nisl posuere habitasse.</p>
                        <p *ngIf="!isDesktop">Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque dis facilisis libero ante aliquam vel cras est nec. Habitasse duis accumsan at duis justo tincidunt.. <em>Read more...</em></p>
                    </div>
                    <div class="flex-row row">
                        <div class="row-img-wrapper">
                            <img src="assets/cust-4.jpeg"/>
                        </div>
                        <p style="align-self:flex-start; padding-top:0.5rem;">Some lorem ipsum lorem ipsum!</p>
                    </div>
                </div>
            </div>

            <div class="slide slide__follow-us flex-column">
                <h2 class="slide__title">Follow us</h2>
                <div class="flex-row">
                    <h1><span class="fa fa-facebook"></span></h1>
                    <h1><span class="fa fa-instagram"></span></h1>
                    <h1><span class="fa fa-linkedin"></span></h1>
                </div>
            </div>
        </div>
        <div 
            class="text-block" 
            #textBlock 
            [style.height]="textBlockHeight"
        >
            <mat-accordion class="accordion-wrapper" >
                <div 
                    class="section flex-row" 
                    [@fadeInOut]="visibility.item1" 
                    [style.opacity]="visibility.item1">
                    <div class="text">
                        <p style="font-weight: bolder;">Emergency line</p>
                        <p class="font">040 50 500</p>
                    </div>
                    <div class="dotted-border"></div>
                    <div class="section-icon" style="margin-right:8px;">
                        <span class="material-symbols-outlined">phone_enabled</span>
                    </div>
                </div>
                <mat-expansion-panel 
                    (opened)="togglePanel()" 
                    (closed)="togglePanel()" 
                    #feedbackPanel 
                    class="section flex-row" 
                    hideToggle 
                    style="box-shadow:none;border-radius:none;" 
                    [@fadeInOut]="visibility.item2" 
                    [style.opacity]="visibility.item2"
                >
                    <mat-expansion-panel-header style="padding:0">
                        <div class="text">
                            <p style="font-weight: bolder;">Leave feedback</p>
                            <p class="font">Share comments / complaints</p>
                        </div>
                        <div class="dotted-border"></div>
                        <div class="section-icon">
                            <span class="material-symbols-outlined">feedback</span>
                        </div>
                        
                    </mat-expansion-panel-header>
                    <div class="expansion-content flex-column" *ngIf="isPanelOpen" [ngClass]="{ 'open': isPanelOpen }" >
                        <div *ngIf="isSendingFeedback && !feedback" class="loading">
                            <app-loading></app-loading>
                        </div>
                        <div *ngIf="feedback && !isSendingFeedback" class="feedback">
                            <h3 style="color:white; line-height:6rem;">{{feedback}}</h3>
                        </div>
                        <div class="flex-column" [formGroup]="feedbackForm" *ngIf="!isSendingFeedback && !feedback">

                            <mat-form-field style="width:100%;margin:1rem 0;" >
                                <mat-label>{{ 'Add message' }}</mat-label>
                                <textarea 
                                    matInput 
                                    maxlength="1000" 
                                    [rows]="rows" 
                                    formControlName="text"
                                    [errorStateMatcher]="matcher"
                                    #text
                                    #textarea
                                    (input)="adjustHeight($event)"
                                ></textarea>

                                <mat-hint align="end">{{characterCount}} / 1000</mat-hint>
                                <mat-hint *ngIf="feedbackForm.get('text')?.touched && feedbackForm.get('text')?.hasError('required')">Required</mat-hint>
                                <mat-hint *ngIf="feedbackForm.get('text')?.hasError('maxlength')">Message exceeds 1000 characters.</mat-hint>
 
                            </mat-form-field>
                            <div class="flex-row" >
                                <div class="flex-row hover" style="max-width:fit-content;">
                                    <mat-checkbox 
                                      (click)="$event.stopPropagation()"
                                      (change)="toggleChangeAnonymous($event)"
                                      [checked]="isAnonymous"
                                    >
                                    <p>Anonymous</p>
                                    </mat-checkbox>
                                </div>
                                  
                                <div class="flex-row hover" style="max-width:fit-content;padding-right:8px;">   
                                    <mat-checkbox 
                                        (click)="$event.stopPropagation()"
                                        (change)="toggleChangeContact($event)"
                                        [disabled]="isAnonymous"
                                        [checked]="requireContact"
                                    >
                                    <p>Contact me</p>
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="flex-row" >
                                <mat-form-field class="input" *ngIf="!isAnonymous" style="width:28rem;" >
                                    <mat-label>{{ 'Your name' }}</mat-label>
                                    <input matInput name="name" formControlName="name" required [errorStateMatcher]="matcher" >
                                    <mat-hint *ngIf="feedbackForm.get('name')?.touched && feedbackForm.get('name')?.hasError('required')">Name is required if not anonymous</mat-hint>
                                    <mat-hint *ngIf="feedbackForm.get('name')?.hasError('pattern')">Invalid characters</mat-hint>
 
                                </mat-form-field>
                                
                                <mat-form-field class="input" *ngIf="requireContact && !isAnonymous" style="width:28rem;">
                                    <mat-label>{{ 'Your email' }}</mat-label>
                                    <input matInput name="email" formControlName="email" required [errorStateMatcher]="matcher">
                                    <mat-hint *ngIf="feedbackForm.get('email')?.touched && feedbackForm.get('email')?.hasError('required')">Email is required for contacting</mat-hint>
                                    <mat-hint *ngIf="feedbackForm.get('email')?.hasError('pattern')">Invalid email format</mat-hint>
 
                                </mat-form-field>
                            </div>
                            <div class="icons right" *ngIf="feedbackForm">
                                <div type="submit" (click)="onSendFeedback()" [ngClass]="feedbackForm.invalid ? 'disabled':null">
                                    <span matTooltip="Send" class="material-symbols-outlined">send</span>
                                </div>
                                <div (click)="onCancelFeedback(feedbackPanel)">
                                    <span matTooltip="Cancel" class="material-symbols-outlined">cancel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel 
                    (opened)="!isPanelOpen = !isPanelOpen " 
                    (closed)="isPanelOpen = !isPanelOpen" 
                    #newsletterPanel 
                    class="section flex-row" 
                    hideToggle 
                    style="box-shadow:none;border-radius:none;"   
                    [@fadeInOut]="visibility.item3" 
                    [style.opacity]="visibility.item3"
                >
                    <mat-expansion-panel-header style="padding:0">
                        <div class="text">
                            <p style="font-weight: bolder;">Sign up for our Nerwsletter</p>
                            <p class="font">Your email address</p>
                        </div>
                        <div class="dotted-border"></div>
                        <div class="section-icon">
                            <span class="material-symbols-outlined">mail</span>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="expansion-content" [ngClass]="{ 'open': isPanelOpen }">
                        <div *ngIf="!isSent" class="flex-row" style="margin-top:0.5rem;">
                            <mat-form-field class="input">
                                <mat-label>{{ 'Type here ..' }}</mat-label>
                                <input matInput [formControl]="newsletter">
                                <mat-hint *ngIf="newsletter.errors && newsletter.value && newsletter.touched">Invalid email format</mat-hint>
                            </mat-form-field>
                            <div class="icons">
                                <div type="button" (click)="onSendSubscription(newsletterPanel)" [ngClass]="(newsletter.errors || !newsletter.value) ? 'disabled':null">
                                    <span matTooltip="Send" class="material-symbols-outlined">send</span>
                                </div>
                                <div (click)="onCancelSubscribe(newsletterPanel)">
                                    <span matTooltip="Cancel" class="material-symbols-outlined">cancel</span>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="isSent" class="center">
                            <h3>Thank you for subscribing!</h3>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>         
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="flex-row">
                <div class="flex-column">
                    <em>Helsinki</em>
                    <span>Mon-Fri: 8:00 - 18:00</span>
                    <span>0 40 50 6001</span>
                    <span>Josefatinkatu 12</span>
                </div>
                <div class="flex-column">
                    <em>Espoo </em>
                    <span>Mon-Fri: 8:00 - 18:00</span>
                    <span>0 40 50 6002</span>
                    <span>Johansenkatu 10</span>
                </div>
                <div class="flex-column">
                    <em>Tampere</em>
                    <span>Mon-Fri: 8:00 - 18:00</span>
                    <span>0 40 50 6003</span>
                    <span>Tampereen valtatie 35</span>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Quam maecenas tortor integer commodo posuere commodo, blandit consequat. Metus inceptos viverra taci ti mag ti tellus. </p>
                <br>
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Quam maecenas tortor integer commodo posuere commodo, blandit consequat. Metus inceptos viverra taciti magna justo mattis tellus. </p>
            </div>
            <div style="float:right;">by Ieva Vyliaudaite, Helsinki 2024</div>
        </div>
    </footer>
</div>
