@import '../../scss/mixins';
@import '../../scss/breakpoints';
@import '../../scss/variables';

.mat-accordion {
    --mat-expansion-container-background-color: transparent;
    --mat-expansion-header-collapsed-state-height:100%;
    --mat-expansion-header-expanded-state-height:100%;
    --mat-expansion-header-hover-state-layer-color:none;
    --mat-expansion-container-shape:none;
    --mat-expansion-container-text-color: $--color-white-cold;
    --mdc-outlined-text-field-outline-color:$--color-white-cold;
    --mdc-outlined-text-field-focus-outline-color:$--color-white-cold;

    --mdc-filled-text-field-focus-label-text-color:$--color-white-cold;
    --mdc-filled-text-field-focus-active-indicator-color:$--color-white-cold;
    --mdc-outlined-text-field-label-text-color:$--color-white-cold;
    --mdc-outlined-text-field-focus-label-text-color:$--color-white-cold;
    --mdc-outlined-text-field-input-text-color:$--color-white-cold;
    --mdc-outlined-text-field-caret-color:$--color-white-cold;
    --mat-form-field-container-text-weight:900;
    --mat-form-field-container-text-size:22px;

    --mdc-checkbox-selected-icon-color: $--color-white-cold;
    --mdc-checkbox-selected-icon-color:$--color-white-cold;
    --mdc-checkbox-selected-hover-icon-color:$--color-white-cold;
    --mdc-checkbox-selected-hover-state-layer-color: $--color-white-cold;
    --mdc-checkbox-selected-pressed-icon-color:$--color-white-cold;
    --mdc-checkbox-selected-focus-state-layer-color:$--color-white-cold;
    --mdc-checkbox-selected-focus-icon-color:$--color-white-cold;
    --mdc-checkbox-selected-pressed-state-layer-color:$--color-white-cold;
    --mdc-checkbox-unselected-icon-color:$--color-white-cold;
    --mdc-checkbox-unselected-focus-icon-color:$--color-white-cold;
    --mdc-checkbox-unselected-focus-state-layer-color:$--color-white-cold;
    --mdc-checkbox-unselected-hover-state-layer-color:$--color-white-cold;

    --mdc-checkbox-disabled-selected-icon-color:darkgrey;
    --mdc-checkbox-disabled-selected-checkmark-color:transparent;
    --mdc-checkbox-disabled-unselected-icon-color:rgb(174,182,188);
    --mat-checkbox-disabled-label-color:rgb(174,182,188);

    --mdc-outlined-text-field-error-focus-label-text-color:orange;
    --mdc-outlined-text-field-error-label-text-color:orange;
    --mdc-outlined-text-field-error-caret-color:$--color-white-cold;
    --mdc-outlined-text-field-error-outline-color:$--color-white-cold;
    --mdc-outlined-text-field-error-focus-outline-color:$--color-white-cold;
    --mdc-outlined-text-field-error-hover-label-text-color:$--color-white-cold;
    --mdc-outlined-text-field-error-hover-outline-color:orange;
    --mdc-outlined-text-field-label-text-size: 14px;

    --mdc-filled-text-field-error-active-indicator-color: orange;
    --mdc-filled-text-field-error-focus-active-indicator-color: orange;
    --mdc-filled-text-field-error-hover-active-indicator-color: orange;
}
.mat-mdc-checkbox {
    --mdc-form-field-label-text-size:16px;
    --mdc-form-field-label-text-weight:900;
    --mdc-form-field-label-text-color:rgb(214, 222, 230)!important;
}

.page {
    width: 70%;
    height:auto;
}
.content-view-wrapper {
    max-width: 120rem;
    display: flex; 
    flex-direction: column;
    background-color: $--color-white-cold;
    z-index: 1;
    position:absolute;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    @include respond-to(mobile-and-tablet) {
        width:100%;
    }
}
h2 {
    margin:0;
}
.img-wrapper {
    position: absolute;
    z-index: 0;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    overflow: hidden;
    height: calc(100vh * 9/16); 
    width:100%;
    img {
        opacity: 0.8;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.slide {
    will-change: transform;
    margin-bottom: clamp(4rem, 8vw, 16rem);
    &:not(.slide__top, .slide__second, .slide__third) {
        margin-top: clamp(5rem, 12vw, 16rem);
    }
    &__title {
        align-self: center;
        margin-bottom: clamp(2rem, 4vw, 6rem);
    }

    &__top {
        height: clamp(18rem, 28vw, 30rem); 
        margin-bottom: clamp(4rem, 4vw, 6rem);
    }
    &__personel {
        color: $--color-white-warm;
        width: 85%;
        margin:auto;
        justify-self: center; 
    }
    &__feedback {
        color: $--color-white-warm;
        padding: 0 1rem;
        .flex-row {
            width: 100%;
            justify-content: space-between;
            p {
                width: 80%;
                padding: 0 1rem;
            }
        }
    }
    &__follow-us {
        color: $--color-white-warm;
        width: 80%;
        margin: auto;
        span {
            transition: all 0.1s ease;
            &:hover {
                cursor: pointer;
                filter: drop-shadow(0 0 8px rgb(245,245,245));
            }
        }
    }
}

.block--bordered--sm p {
    font-size: larger;
}

.text-block {
    border-radius: 5px;
    width: 100%;
    position: absolute;
    top: 512px; 
    background: linear-gradient(to bottom, transparent 0%, rgb(138 155 174));
    opacity: 0.8;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: height 0.5s ease-in-out;
}
.slide-block {
    position: relative;
    z-index: 2;
    will-change: transform;
}

footer {
    background-color: $--color-white-warm;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer {
    padding-block: 2rem;
    width: 65%;
    margin: 0 auto;
    height: 100%;
        .material-symbols-outlined {
        color: $--color-gray-warm-primary;
        font-size: 1rem;
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
        }
}

.accordion-wrapper {
    width:80%;
    margin-bottom:4rem;
    p {
        font-size: larger;
    }
    @include respond-to(mobile-and-tablet) {
        width:90%;
    }
}
#stamp {
    transform: translateY(-50%) rotate(24deg);
    position: absolute;
    height: 43rem;
    top: 10rem;
    left: 26rem;
    z-index: -1;
    opacity: 0.2;
}
.bg {
    opacity:0.7;
    margin:0;
    margin-bottom: clamp(1rem, 2vw + 0.5rem, 3rem);
}
.sm {
    float: right;
    color: $--color-white-warm;
    font-weight: 600;
    margin:0 0 auto auto;
}
.click {
    font-family: "Special Elite", system-ui;
    height: 1.8rem;
    width: 100%;
   
    &h2:hover {
        background-color: $--color-pink-cloudy-primary;;
        color: $--color-white-warm;
        cursor: pointer;
    }
}
.block {
    padding-top: 4rem;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color:  $--color-white-warm;
    @include respond-to(mobile-6x) {
        padding-top:0;
        margin:0;
    } 
    .flex-row {
        width: 100%;
    }
}

.card {
    width: 14rem;
    justify-content: space-evenly;    
    p {
        margin: 3rem 5px;
        text-align: center;
        @include respond-to(mobile-6x) {
            margin:2rem 5px;
        }
    }
}
.card-img-wrapper {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    align-self: center;
    img {
        border-radius: 50%;
        opacity:0.8;
    }
    @include respond-to(desktop-5x) {
        height: 10rem;
        width: 10rem;
    }
    @include respond-to(mobile-and-tablet) {
        height:8rem;
        width: 8rem;
       
    }
    @include respond-to(mobile-6x) {
        height:5.5rem;
        width: 5.5rem;  
    }
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row {
    width: 40rem;
    border: 1px solid $--color-white-warm;
    .row-img-wrapper {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin: 1rem;
        opacity:0.8;
        @include respond-to(tablet) {
            width: 7rem;
            height: 6rem;
        }
        @include respond-to (mobile){
            width: 6rem;
            height: 5rem;
        }
        @include respond-to (mobile-x){
            width: 6rem;
            height: 5rem;
            margin: 0.5rem;
        }
        @include respond-to (mobile-6x){
            margin: 5px;
            height: 4rem;
            width:5rem;
        }
        img {
            border-radius: 50%;
        }
    }
    margin: 0.5rem 0;
}
textarea{
    overflow: hidden;
    resize: none;
    font-size: 1.2rem;;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-left:1rem;
    width: 8rem;
    &>div:hover{
        filter: brightness(1.8); 
        cursor: pointer;
    }
    .material-symbols-outlined {
        color:  $--color-white-cold;
        font-size: 3rem;
        font-variation-settings:
            'FILL' 1,
            'wght' 900,
            'GRAD' 0,
            'opsz' 40
    }
    &.right{
        margin-top:2rem;
        align-self: flex-end;
    }
}

.section {
    margin-bottom:1rem;
    padding-left:1rem;
    transition: opacity 0.2s ease-in;

    .dotted-border {
        flex: 1;
        align-self:center;
        margin: 0 0.5rem 0 4rem; 
        border-bottom: dotted 4px rgba(115, 72, 114, 0.7);
        @include respond-to(mobile-x) {
            border-bottom: dotted 4px rgba(115, 72, 114, 0.7);
        }
        @include respond-to(mobile-x) {
            border-bottom: dotted 4px rgba(115, 72, 114, 0.7);
        }
        @include respond-to(mobile-6x) {
            border-bottom: dotted 3px rgba(115, 72, 114, 0.7);
        }
    }
    .text {
        flex: auto 1 0; 
        max-width: fit-content;
        color:  $--color-white-warm;
        align-self: center;
        h4 {
            padding:0;
            margin:0;
            width:max-content;
        }
    }
    .section-icon {
        flex: 0 0 6.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 6.5rem;
        width:6.5rem;
        border-radius: 50%;
        background-color: $--color-pink-cloudy-primary;;
        @include respond-to(mobile) {
            height: 6rem;
            flex: 0 0 6rem;
        }
        @include respond-to(mobile-x) {
            height: 5rem;
            flex: 0 0 5rem;
        }
        @include respond-to(mobile-6x) {
            height: 4rem;
            flex: 0 0 4rem;
        }
    
        .material-symbols-outlined {
            color:  $--color-white-cold;
            font-size: 3rem;
            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;

        }
    }
    &.visible {
        opacity: 1;
    }
    opacity:0;
    border-left: solid 0.5px rgb(239 239 239);
}
mat-expansion-panel-header:hover{
    filter: brightness(1.8); 
    cursor: pointer;
}
.expansion-content.flex-row {  
    &.mdc-label {
        color: rgb(239 239 239)!important;
    }
    margin-top:2rem;
    justify-content: flex-start;
    align-items: center;
    &.hover:hover {
        filter: brightness(1.8); 
        cursor: pointer;
    }
    .material-symbols-outlined {
        color:  $--color-white-cold;
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
}

.input {
    width:80%;
}
.disabled {
    pointer-events: none;
    filter: brightness(0.8);
}
.feedback{
    align-self: center;
    height: 6rem;
    display: flex;
    height:6rem;
    justify-content: center;
    transition: height 0.4s ease-in-out;
}
.loading {
    padding:0;
}
.size {
    @include spinner-size(3rem);
    &.loading {
        height:6rem;
        transition: height 0.4s ease-in-out;
    }
}

.expansion-content {
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease-in-out;
  
    &.open {
      height: auto; 
    }
  }
  .center {
    height: 4rem;
    text-align: center;
    line-height: 4rem;
  }