<mat-tab-group 
    mat-stretch-tabs="false" 
    mat-align-tabs="start" 
    class="content" 
    (selectedIndexChange)="onTabChange($event)"
    [(selectedIndex)]="selectedIndex"
>
    <mat-tab label="new">
        <ng-template mat-tab-label>
            <span class="tab-label">New Requests</span>
        </ng-template>
        <div>
            <div class="flex-row wrapper info">
                <span class="icon material-symbols-outlined">info</span>
                <h3 *ngIf="countRequests > 0">Pending approval</h3> 
                <h3 *ngIf="countRequests === 0">No new account activation requests at the moment</h3> 
                <span>{{' '}}</span>
            </div>
            <div *ngIf="isLoading" class="loading">
                <app-loading></app-loading>
            </div>
            <div class="page" #scrollView @slideInOut *ngIf="countRequests && !isLoading">
                <div *ngIf="countRequests === 0" class="btn-block">
                    <span class="material-symbols-outlined" id="bg-icon">
                        folder_open
                    </span>
                    <h1>No requests</h1>
                </div>
                <div *ngIf="countRequests>0">
                    <div class="page__text-block">
                        <h2 class="font">Account activation requests:</h2>
                        <p *ngIf="countRequests === 1">Currently there is {{countRequests}} doctor account activation request.</p>
                        <p *ngIf="countRequests > 1">Currently there are {{countRequests}} doctor account activation requests.</p>
                    </div>

                    <div class="table-wrapper">
                        <app-search
                            [useAdvanced]="false"
                            (inputValue)="onFilterValueChange($event)"
                            (reset)="onSearchReset($event)"
                        ></app-search>
                        <app-table 
                            *ngIf="dataSource && displayedColumns"
                            [dataSource]="dataSource" 
                            [displayedColumns]="displayedColumns"
                            [buttons]="actions"
                            [length]="requestsLength"
                            [userRole]="userRole"
                            (pageChange)="onPageChange($event)"
                            (sortChange)="onSortChange($event)"
                            (filterValue)="onFilterValueChange($event, async)"
                            (action)="onActionClick($event)"
                        >
                        </app-table>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="approved">
        <ng-template mat-tab-label>
            <span class="tab-label">Active Accounts</span>
        </ng-template>
        <div>
            <div class="flex-row wrapper info">
                <span class="icon material-symbols-outlined">info</span>
                <h3>Active doctor accounts</h3>
                <span>{{' '}}</span>
            </div>
            <div *ngIf="isLoading" class="loading">
                <app-loading></app-loading>
            </div>
            <div class="page" *ngIf="!isLoading">
                <div>
                    <h2 class="font">Doctors:</h2>
                    <p *ngIf="countDoctors === 1">Currently there is {{countDoctors}} doctor in this health center.</p>
                    <p *ngIf="countDoctors > 1">Currently there are {{countDoctors}} active doctor accounts.</p>
                </div>
                <div class="table-wrapper">
                    <app-search
                        [useAdvanced]="false"
                        (inputValue)="onFilterValueChange($event)"
                        (reset)="onSearchReset($event)"
                    ></app-search>
                    <app-table 
                        *ngIf="dataSource && displayedColumns && countDoctors > 0"
                        [dataSource]="dataSource" 
                        [displayedColumns]="displayedColumns"
                        [buttons]="actions"
                        [length]="doctorsLength"
                        [userRole]="userRole"
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (rowClick)="onUserClick($event, async)"
                        (action)="onActionClick($event, async)"
                    >
                    </app-table>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
