<div class="page">
    <h3>Test Apps</h3>
    <button type="button" color="primary" mat-raised-button (click)="addTestApp()"><span class="material-icons">add</span> Add</button>
    
    <ul *ngFor="let testApp of testApps" style="display: flex; align-items: center;">
        <button mat-button type="button" (click)="deleteTestApp(testApp.id)"><span class="material-icons">delete</span></button>
        <li *ngIf="testApp"><a [routerLink]="['/test-apps', testApp.id]">{{testApp.testAppName}}</a></li>
    </ul>
</div>
