@import '../../shared/scss/breakpoints';
@import '../../shared/scss/variables';

mat-form-field {
    margin: 0;
    width: 100%;
    // @include respond-to(tablet){    
    //     width: 95%;
    //     margin: 0 auto;
    // }
    // @include respond-to(mobile-6x){    
    //     width: 95%;
    //     margin: 0 auto;
    // }
}

.messages-wrapper {
    margin: 2rem 0.5rem;
    overflow: scroll;
    flex-direction: column-reverse;
    height: 20rem;
}

.message-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    .flex-row {
        width:100%;
        &.reversed {
            justify-content: flex-end;
        }
        &.justified{
            justify-content: flex-end;
        }
    }
    .reversed {
        flex-direction:row-reverse;
    }
}

.message {
    padding: 0.5rem;
    border-radius: 10px;
    margin: 5px 0;
    z-index: 1;
    max-width: 100%;
    overflow-wrap: anywhere;
    white-space: pre-wrap; 
    word-wrap: break-word;
    overflow:hidden;
    max-width:50%;
}
.incoming {
    align-self: flex-end;    
}
.outgoing {
    border: 1px solid $--color-gray-cold-primary;
    float: inline-end;
}

.material-icons:hover {
    cursor: pointer;
}
.timestamp {
    margin: 1.1rem 0.5rem auto 0.5rem;
    color: dimgray;
    min-width:max-content;
}
#bg-icon {
    top: 45%;
}
textarea{
    overflow: hidden;
    resize: none;
    width:100%;
}
.rounded {   
    border-radius: 25px;
    color: white;
    padding: 3px 0.5rem;
    opacity: 0.7;
    font-weight: 600;
    letter-spacing: 0.5px;
}