@import '../../../shared/scss/breakpoints';

.material-icons{
    color: dimgray;
    float: right;
    position: absolute;
    right: -62px;
    &:hover {
        color: rgb(68, 65, 65);
        cursor: pointer;
    }
}
.page {
    margin-top: 6rem;
    @include respond-to(tablet) {
        max-width:85%;
        margin:4rem auto;
    }
    @include respond-to(mobile-6x) {
        max-width:90%;
        width:90%;
        margin:4rem auto;
        padding:0;
    }
}


