<mat-tab-group 
    #tabGroup
    mat-stretch-tabs="false" 
    mat-align-tabs="start" 
    class="content bg--white--cold" 
    (selectedIndexChange)="onTabChange($event)"
    [(selectedIndex)]="selectedIndex"
>
    <mat-tab label="online">
        <ng-template mat-tab-label>
            <span class="tab-label" *ngIf="userRole === 'admin'" >Currently Online</span>
            <span class="tab-label" *ngIf="userRole === 'doctor'" >Administrator | Frontdesk</span>
        </ng-template>
        <div *ngIf="userRole === 'admin'">
            <div class="flex-row block--bordered--md info">
                <span class="icon material-symbols-outlined">info</span>
                <p *ngIf="onlineDoctors.length === 0">Currently no doctors online</p> 
                <p *ngIf="onlineDoctors.length > 0">{{onlineDoctors.length}} online</p> 
                <span>{{' '}}</span>
            </div>
            <div *ngIf="!dataSource">
                <app-loading></app-loading>
            </div>
            <div class="page" @slideInOut>
                <div class="doctors" *ngIf="userRole ==='admin'">
                    <div class="table-wrapper">
                        <app-search
                            [useAdvanced]="false"
                            (inputValue)="onFilterValueChange($event)"
                            (reset)="onSearchReset($event)"
                        ></app-search>
                        <app-table 
                            *ngIf="dataSource && displayedColumns"
                            [dataSource]="dataSource" 
                            [displayedColumns]="displayedColumns"
                            [length]="doctorsLength"
                            [userRole]="userRole"
                            (pageChange)="onPageChange($event)"
                            (sortChange)="onSortChange($event)"
                            (rowClick)="onOpenChat($event)"
                        >
                        </app-table>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="userRole === 'doctor' && chatId">
            <div *ngIf="isLoading" class="loading"  >
                <app-loading></app-loading>
            </div>
            <app-chat 
                *ngIf="!isLoading"
                [receiverId]="receiverId" 
                [senderId]="me.id" 
                [chatId]="chatId"
            ></app-chat>
        </div>
    </mat-tab>
    <mat-tab *ngFor="let chat of chats" >
         <ng-template mat-tab-label>
            <div class="fixed-width-tab">
                <span class="tab-label" matTooltip="{{ chat.title }}" style="overflow:hidden; text-overflow: ellipsis;">{{ chat.title }}</span>
                <span class="material-icons" matTooltip="Close" (click)="onChatClose(chat.id)" >close</span>   
            </div>
        </ng-template>
        <ng-template matTabContent>
            <app-chat 
                [receiverId]="receiverId" 
                [senderId]="me.id" 
                [chatId]="chat.id" 
                [userRole]="'admin'" 
                (close)="onChatClose($event)"
            ></app-chat>
        </ng-template>
    </mat-tab>
</mat-tab-group>