@import '../../../shared/scss/breakpoints';
@import '../../../shared/scss/variables';

.material-icons{
    color: dimgray;
    position: absolute;
    line-height: 1rem;
    padding-left:40%;
    &:hover {
        color: $--color-main;
        cursor: pointer;
    }
}

.fixed-width-tab {
  position: relative;
  display: inline-block;
  min-width: 120px; 
  max-width: 200px; 
}

.tab-label {
  display: inline-block;
  max-width: calc(100% - 24px); 
  white-space: nowrap;
  vertical-align: middle;
}






