<form>
    <mat-dialog-content #el>
        <div class="flex-row">
            <h2 class="title-hover" *ngIf="appointmentInfo.title && appointmentInfo.title !== 'View details'" (click)="onLinkClick(appointmentInfo.id)">{{ appointmentInfo.title }}</h2>
            <h2 class="title-hover" *ngIf="appointmentInfo.title === 'View details'" (click)="onLinkClick(appointmentInfo.id)">{{ 'Appointment' }}</h2>
            <h2 *ngIf="!appointmentInfo.title && userRole !== 'doctor'">{{ "New Appointment" }}</h2>
            <h2 *ngIf="!appointmentInfo.title && userRole === 'doctor'">{{ "Reserve All Day" }}</h2>
            <p class="event-label" *ngIf="appointmentInfo.title">created: <em>{{createdAt}}</em></p>
        </div>
        <div class="flex-column">
            <div class="flex-column event-wrapper" *ngIf="appointmentInfo.title">
                <p class="event-title">{{ 'Basic Information' }}</p>
                <div class="flex-row">
                    <div class="flex-column">
                        <p class="event-label">{{ 'Patient' }}</p>
                        <p class="event-info">{{ patientName }}</p>

                        <p class="event-label">{{ 'Date of Birth' }}</p>
                        <p class="event-info">{{ patientDob }}</p>
                    </div>
                    <div class="flex-column">
                        <p *ngIf="doctorName" class="event-label">{{ 'Doctor' }}</p>
                        <p *ngIf="doctorName" class="event-info">{{ doctorName }}</p>
                        <p *ngIf="!doctorName && appointmentInfo.title !=='Missed Request'" class="event-info">
                            <a (click)="onLinkClick(appointmentInfo.id)">
                                <em>{{ 'Pending confirmation' }}</em>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-column event-wrapper">
                <p *ngIf="appointmentInfo.title !== 'Pending'" class="event-title">{{ 'Appointment Time' }}</p>
                <p *ngIf="appointmentInfo.title === 'Pending'" class="event-title">{{ 'Requested Time' }}</p>
                <div class="details flex-row">
                    <div class="flex-column">
                        <p class="event-label">{{ 'Date' }}</p>
                        <p class="event-info">{{ eventDate }}</p>
                    </div>
                    <div class="flex-column">
                        <p class="event-label">{{ 'Start Time' }}</p>
                        <p class="event-info">{{ eventStartTime }}</p>
                    </div>
                    <div class="flex-column">
                        <p class="event-label">{{ 'End Time' }}</p>
                        <p class="event-info">{{ eventEndTime }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="message event-wrapper" *ngIf="patientMessage">
            <p class="event-title" *ngIf="userRole==='doctor' || userRole==='admin'">{{ "Patient's Message" }}</p>
            <p class="event-title" *ngIf="userRole==='patient'">{{ 'My Message' }}</p>
            <p class="event-info" class="font">{{patientMessage}}</p>
            <div (click)="onDeleteMessage(appointmentInfo.id)" *ngIf="userRole === 'patient' || userRole==='admin'">
                <span class="material-icons" style="color:rgb(175 111 174 / 90%);">close</span>
            </div>
        </div>
        <div class="message event-wrapper" *ngIf="doctorMessage">
            <p class="event-title" *ngIf="userRole==='patient'">{{ "Doctor's Message" }}</p>
            <p class="event-title" *ngIf="userRole==='doctor'">{{ 'My Message' }}</p>
            <p class="event-info" class="font">{{doctorMessage}}</p>
            <div (click)="onDeleteMessage(appointmentInfo.id)" *ngIf="userRole === 'doctor'">
                <span class="material-icons" style="color:rgb(175 111 174 / 90%);">close</span>
            </div>
        </div>
        <div 
            [ngClass]="isOpened ? '': 'title-hover'"
            class="icon-btn" 
            (click)="onOpenAppointmentTab(appointmentInfo.id)" 
            *ngIf="userRole === 'doctor' && !isOpened && doctorName"
        >
            <span class="material-icons">open_in_new</span><p>Open appointment workspace</p>
        </div>
        <div *ngIf="(!doctorMessage && userRole === 'doctor') || (!patientMessage && userRole === 'patient') || (!patientMessage && userRole === 'admin' && samePatient)">
            <div type="button" class="icon-btn title-hover" (click)="onAddClick(); showInput =!showInput" *ngIf="!showInput">
                <span class="material-icons">add</span><p>Additional information</p>
            </div>
        </div>
        <div class="event-wrapper" *ngIf="showInput" style="position: relative;">
            <p class="event-title">{{ 'Additional Information' }}</p>
            <mat-form-field>
                <mat-label>{{ 'Add message' }}</mat-label>
                <textarea matInput #message maxlength="700"></textarea>
                <mat-hint align="end">{{message.value.length}} / 700</mat-hint>
            </mat-form-field>
            <div class="icons flex-row" style="float: right;">
                <div (click)="onSaveMessage(message.value)">
                    <span class="material-icons" style="color: green">check</span>
                </div>
                <div (click)="showInput =!showInput">
                    <span class="material-icons" style="color:rgb(175 111 174 / 90%);">close</span>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button type="submit" [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmit()" *ngIf="!appointmentInfo.title">{{'Confirm'}}</button>
        <button mat-button type="button" (click)="onDelete()" [disabled]="appointmentInfo.title && !samePatient">
            <span *ngIf="appointmentInfo.title">{{'Delete'}}</span>
            <span *ngIf="!appointmentInfo.title">{{'Cancel'}}</span>
        </button>
    </mat-dialog-actions>
</form>