@import '../../scss/variables';

.message {
    padding: 0 1rem;
}

textarea{
    overflow: hidden;
    resize: none;
}

.material-icons { 
    &:hover {
        cursor: pointer;
        opacity: 0.4;
    }
}

.form {
    width: 100%;
}
.edit-view {
    cursor: default;
    &.event-wrapper{padding-bottom: 0;}
    &:hover{background-color: transparent;}
}
.mat-mdc-text-field-wrapper{
    padding-left:5px!important;
}
.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.6;
}

