<mat-dialog-content #el class="app-event">
    <div *ngIf="isLoading" class="loading">
        <app-loading></app-loading>
    </div>
    <form class="app-event" *ngIf="!isLoading">
        <div class="flex-row">
            <h2 [ngClass]="userRole !=='admin' && 'title-hover'" *ngIf="appointmentInfo.title && appointmentInfo.title !== 'View details'" (click)="userRole !== 'admin' && onLinkClick(appointmentInfo.id)">{{ title }}</h2>
            <h2 [ngClass]="userRole !=='admin' && 'title-hover'" *ngIf="appointmentInfo.title === 'View details'" (click)="userRole !== 'admin' && onLinkClick(appointmentInfo.id)">{{ 'Appointment' }}</h2>
            <h2 *ngIf="!appointmentInfo.title && userRole !== 'doctor'">{{ "New Appointment" }}</h2>
            <h2 *ngIf="!appointmentInfo.title && userRole === 'doctor'">{{ "Reserve All Day" }}</h2>
            <p class="event-label" *ngIf="appointmentInfo.title">created: <em>{{createdAt}}</em></p>
        </div>
        <div class="flex-column">
            <div class="flex-column event-wrapper" *ngIf="appointmentInfo.title">
                <p class="event-title" *ngIf="userRole !== 'admin' && title !=='Missed request'">{{ 'Basic Information' }}</p>
                <p class="event-title" *ngIf="userRole === 'admin' && title ==='Missed request'">{{ "Patient's Information" }}</p>
                
                <div class="flex-row">
                    <div class="flex-column">
                        <p class="event-label">{{  "Patient's Name"  }}</p>
                        <p class="event-info">{{ patientName }}</p>

                        <p class="event-label">{{ 'Date of Birth' }}</p>
                        <p class="event-info">{{ patientDob }}</p>
                    </div>
                    <div class="flex-column">
                        <p *ngIf="doctorName" class="event-label">{{ 'Doctor' }}</p>
                        <p *ngIf="doctorName" class="event-info">{{ doctorName }}</p>
                        <p *ngIf="userRole !== 'admin' && !doctorName" class="event-info">
                            <a (click)="onLinkClick(appointmentInfo.id)">
                                <em>{{ 'Pending confirmation' }}</em>
                            </a>
                        </p>
                        <div *ngIf="userRole ==='admin' && !doctorName">
                            <p  class="event-label">{{'Patient Phone Number'}}</p>
                            <p class="event-info">{{patientPhoneNr}}</p>
                            <p class="event-label">{{'Patient Email'}}</p>
                            <p class="event-info">{{patientEmail}}</p>

                        </div>
                    </div>
                </div>
            </div>
            <div 
                class="flex-column event-wrapper" 
                [class.clickable]="isClickable && !isLoadingDetails"
                [class.edit-view]="isEditting"
                (click)="isClickable && !isEditting && onUpdate()" 
            >
                <p *ngIf="appointmentInfo.title !== 'Pending'" class="event-title">{{ 'Appointment Time' }}</p>
                <p *ngIf="appointmentInfo.title === 'Pending'" class="event-title">{{ 'Requested Time' }}</p>
                <div *ngIf="isLoadingDetails && !isEditting" class="details loading">
                    <app-loading></app-loading>
                </div>
                <div class="details flex-row" *ngIf="!isEditting && !isLoadingDetails">
                    <div class="flex-column">
                        <p class="event-label">{{ 'Date' }}</p>
                        <p class="event-info">{{ eventDate }}</p>
                    </div>
                    <div class="flex-column">
                        <p class="event-label">{{ 'Start Time' }}</p>
                        <p class="event-info">{{ eventStartTime }}</p>
                    </div>
                    <div class="flex-column">
                        <p class="event-label">{{ 'End Time' }}</p>
                        <p class="event-info">{{ eventEndTime }}</p>
                    </div>
                </div>
                
                <div class="details flex-row" *ngIf="isEditting && !isLoadingDetails" style="position: relative;">
                    <form [formGroup]="appointmentTimeForm" class="flex-column form">
                        <mat-form-field appearance="outline" style="width: 45%;">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="datePicker" formControlName="date" />
                            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                            <mat-datepicker #datePicker></mat-datepicker>
                        </mat-form-field>
                        <div  class="flex-row" style="margin-bottom:1.3rem;">
                            <mat-form-field appearance="outline" style="width: 20%;">
                                <mat-select formControlName="startHour">
                                    @for (hour of hours; track hour) {
                                        <mat-option [value]="hour">{{hour}}</mat-option>
                                    }
                                </mat-select>  
                            </mat-form-field>
                            <p style="height:3rem; font-weight: 900;">:</p>
                            <mat-form-field appearance="outline" style="width: 20%;">
                                <mat-select formControlName="startMin">
                                    @for (min of minutes; track min) {
                                      <mat-option [value]="min">{{min}}</mat-option>
                                    }
                                </mat-select>  
                            </mat-form-field>
                            <p style="height:3rem; font-weight: 900;"> – </p>
                            <mat-form-field appearance="outline" style="width: 20%;">
                              <mat-select formControlName="endHour">
                                  @for (hour of hours; track hour) {
                                    <mat-option [value]="hour">{{hour}}</mat-option>
                                  }
                              </mat-select> 
                            </mat-form-field>
                            <p style="height:3rem; font-weight: 900;">:</p>  
                            <mat-form-field appearance="outline" style="width: 20%;">
                              <mat-select formControlName="endMin">
                                  @for (min of minutes; track min) {
                                    <mat-option [value]="min">{{min}}</mat-option>
                                  }
                              </mat-select>
                          
                            </mat-form-field>
                        </div>
                        <mat-error *ngIf="appointmentTimeForm.errors?.isWeekend">
                            Invalid weekday
                        </mat-error>
                        <mat-error *ngIf="appointmentTimeForm.errors?.isTimeRangeValid && !appointmentTimeForm.errors?.isWeekend">
                            Invalid time range selected
                        </mat-error>
                        <mat-error *ngIf="appointmentTimeForm.errors?.isOverTime && !appointmentTimeForm.errors?.isTimeRangeValid && !appointmentTimeForm.errors?.isWeekend">
                            Over time (latest ending 18:00)
                        </mat-error>
                    </form>
                    <div class="icons flex-row" style="float: right;">
                        <div (click)="onNewTimeSubmit(); $event.stopPropagation();">
                            <span class="material-icons" style="color: green" [ngClass]="isDisabled ? 'disabled' : ''">check</span>
                        </div>
                        <div (click)=" isEditting=!isEditting; $event.stopPropagation();" >
                            <span class="material-icons" style="color:rgb(175 111 174 / 90%);">close</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message event-wrapper" *ngIf="patientMessage">
            <p class="event-title" *ngIf="userRole==='doctor' || userRole==='admin'">{{ "Patient's Message" }}</p>
            <p class="event-title" *ngIf="userRole==='patient'">{{ 'My Message' }}</p>
            <p class="event-info" class="font">{{patientMessage}}</p>
            <div (click)="onDeleteMessage(appointmentInfo.id)" *ngIf="userRole === 'patient' || userRole==='admin'">
                <span class="material-icons" style="color:rgb(175 111 174 / 90%);">close</span>
            </div>
        </div>
        <div class="message event-wrapper" *ngIf="doctorMessage">
            <p class="event-title" *ngIf="userRole==='patient' || userRole === 'admin'">{{ "Doctor's Message" }}</p>
            <p class="event-title" *ngIf="userRole==='doctor'">{{ 'My Message' }}</p>
            <p class="event-info" class="font">{{doctorMessage}}</p>
            <div (click)="onDeleteMessage(appointmentInfo.id)" *ngIf="userRole === 'doctor'">
                <span class="material-icons" style="color:rgb(175 111 174 / 90%);">close</span>
            </div>
        </div>
        <div *ngIf="(!doctorMessage && userRole === 'doctor') || (!patientMessage && userRole === 'patient') || (!patientMessage && userRole === 'admin' && samePatient)">
            <div type="button" class="icon-btn title-hover" (click)="onAddClick(); showInput =!showInput" *ngIf="!showInput">
                <span class="material-icons">add</span><p>Additional information</p>
            </div>
        </div>
       
        <div class="event-wrapper" *ngIf="showInput" style="position: relative;">
            <p class="event-title">{{ 'Additional Information' }}</p>
            <mat-form-field style="width:100%;margin:1rem 0;">
                <mat-label>{{ 'Add message' }}</mat-label>
                <textarea matInput #message maxlength="700"></textarea>
                <mat-hint align="end">{{message.value.length}} / 700</mat-hint>
            </mat-form-field>
            <div class="icons flex-row" style="float: right;">
                <div (click)="onSaveMessage(message.value)">
                    <span class="material-icons" style="color: green">check</span>
                </div>
                <div (click)="showInput =!showInput">
                    <span class="material-icons" style="color:rgb(175 111 174 / 90%);">close</span>
                </div>
            </div>
        </div>
         <div 
            [ngClass]="isOpened ? '': 'title-hover'"
            class="icon-btn" 
            (click)="onOpenAppointmentTab(appointmentInfo.id)" 
            *ngIf="userRole === 'doctor' && !isOpened && doctorName"
        >
            <span class="material-icons">open_in_new</span><p>Open appointment workspace</p>
        </div>
        <mat-dialog-actions align="end">
            <button id="submit-btn" mat-button type="submit" [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmit()" *ngIf="!appointmentInfo.title">{{'Confirm'}}</button>
            <button mat-button type="button" (click)="onAcceptAppointment(appointmentInfo.id)" *ngIf="!doctorName && userRole === 'doctor'">{{'Accept Appointment'}}</button>
            <button mat-button type="button" (click)="onDelete()" [disabled]="appointmentInfo.title && !samePatient">
                <span *ngIf="appointmentInfo.title">{{'Delete'}}</span>
                <span *ngIf="!appointmentInfo.title">{{'Cancel'}}</span>
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>