.event-wrapper {
    width: 25rem;
    border: 1px solid rgb(111, 143, 175, 40%);
    border-radius: 3px;
    margin-bottom: 1rem;
    &:not(.message) {padding: 1rem;}
}
.message {
    padding: 0 1rem;
    background-color: rgb(245,245,245);
    .event-title {
        margin-bottom: 10px;
    }
}

.event-info {
    font-weight: 900;
}

.event-title {
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(139, 149, 161);
    font-size: 11px;
}
.event-label {
    font-size: 10px;
}
a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-hover, a:hover {
    cursor: pointer;
    color:  rgb(50, 47, 47); 
}
.material-icons {
    height: 8px;
    width: 8px;
    margin:0;
    &:hover {
        cursor: pointer;
        opacity: 0.4;
    }
}
.icon-btn {
    position: relative;
    p {
        font-weight: 900;
        position:absolute;
        left:25px;
        top:0;
    }
}

.icons {
    position: absolute;
    bottom:0;
    div {
        margin: 0.5rem;
    }
}
.form {
    margin-top:1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.edit-view {
    cursor: default;
    &.event-wrapper{padding-bottom: 0;}
    &:hover{background-color: transparent;}
}
.mat-mdc-text-field-wrapper{
    padding-left:5px!important;
}
.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.6;
}

