<div class="flex-row wrapper info">
    <span class="icon material-symbols-outlined">info</span>
    <h3>Search by patient's name to create an appointment</h3> 
    <span>{{' '}}</span>
</div>
<div *ngIf="!countPatients" class="loading">
    <app-loading></app-loading>
</div>
<div class="page" @slideInOut>
    <div>
        <h2 class="font">Registered patients:</h2>
        <p *ngIf="countPatients === 1">Currently there is {{countPatients}} patient registered in this health center.</p>
        <p *ngIf="countPatients > 1">Currently there are {{countPatients}} patients registered in this Health Center.</p>
    </div>
    <div class="table-wrapper">
        <app-search
            [useAdvanced]="false"
            (inputValue)="onFilterValueChange($event)"
            (reset)="onSearchReset($event)"
        ></app-search>
        <app-table
            *ngIf="dataSource && displayedColumns && countPatients>0"
            [dataSource]="dataSource" 
            [displayedColumns]="displayedColumns"
            [length]="length"
            [userRole]="userRole"
            (pageChange)="onPageChange($event)"
            (sortChange)="onSortChange($event)"
            (rowClick)="onPatientClick($event, async)"
        >
        </app-table>

    </div>
</div>