<div class="flex-row wrapper info">
    <span class="icon material-symbols-outlined">info</span>
    <h3>Search by patient's name to create an appointment</h3> 
    <span>{{' '}}</span>
</div>
<div *ngIf="!countPatients" class="loading">
    <app-loading></app-loading>
</div>
<div class="page" @slideInOut>
    <app-table
        *ngIf="dataSource && countPatients>0"
        [dataSource]="dataSource" 
        [length]="length"
        [userRole]="userRole"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (filterValue)="onFilterValueChange($event, async)"
        (userClick)="onPatientClick($event, async)"
    >
    </app-table>
</div>