@import '../../../shared/scss/breakpoints';

.page {
    position: relative;
    will-change: transform;
    @include respond-to(tablet) {
        max-width:85%;
    }
    @include respond-to(mobile-6x) {
        max-width:95%;
        padding:0;
        margin:4rem auto;
    }
}
