@import '../../../shared/scss/breakpoints';

.page {
    width: 75%;
    @include respond-to(desktop-5x){
        margin:auto;
        margin-top:10%;
        width:85%;
        max-width: 85%;
    }
    @include respond-to(tablet){ 
        width:95%;
        max-width:90%;
    }
    @include respond-to(mobile){ 
        width:95%;
        max-width:90%;
    }
    @include respond-to(mobile-6x) {
        width:95%;
        max-width:95%;
        padding:0;
        margin:4rem auto;
    }
}
.btn-block {
    margin-top: 12rem;
    h1 {
        color:rgb(151, 148, 148);
    }
}
#bg-icon {
    position: absolute;
    font-size: 34rem;
    right: 65px;
    top: 71px;
    transform: rotate(21deg);
    color: darkgray;
    opacity: 0.2;
}