<mat-tab-group
    mat-stretch-tabs="false" 
    mat-align-tabs="start" 
    class="content" 
    (selectedIndexChange)="onTabChange($event)"
    [(selectedIndex)]="selectedIndex"
>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="tab-label">Records</span>
        </ng-template>
        <div>
            <div class="flex-row wrapper info">
                <span class="icon material-symbols-outlined">info</span>
                <h3 *ngIf="countRecords === 0">No saved records</h3> 
                <h3 *ngIf="countRecords > 0">Saved medical records</h3> 
                <span>{{' '}}</span>
            </div>
            <div *ngIf="!dataSource || !countRecords" class="loading">
                <app-loading></app-loading>
            </div>
            <div class="page" @slideInOut>
                <div *ngIf="userRole==='patient' && countRecords > 0">
                    <h2 class="font">Medical records:</h2>
                    <p *ngIf="countRecords===1">Currently you have {{countRecords}} medical record.</p>
                    <p *ngIf="countRecords>1">Currently you have {{countRecords}} medical records.</p>
                </div>
                <div *ngIf="userRole==='doctor' && countRecs> 0">
                    <h2 class="font">Medical records:</h2>
                    <p *ngIf="countRecs===1">Currently you have {{countRecs}} medical record.</p>
                    <p *ngIf="countRecs>1">Currently you have {{countRecs}} medical records.</p>
                </div>
                <div class="table-wrapper">
                    <app-table 
                        #appTable
                        *ngIf="dataSource && displayedColumns && countRecords > 0"
                        [dataSource]="dataSource" 
                        [displayedColumns]="displayedColumns" 
                        [length]="recordsLength"
                        [userRole]="userRole"
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (rowClick)="onRecordClick($event, async)"
                    >
                    </app-table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngIf="userRole === 'doctor' && countDrafts > 0">
        <ng-template mat-tab-label>
            <span class="tab-label" >Drafts</span>
        </ng-template>
        <div>
            <div class="flex-row wrapper info">
                <span class="icon material-symbols-outlined">info</span>
                <h3 *ngIf="countDrafts === 0">No saved drafts</h3> 
                <h3 *ngIf="countDrafts > 0">Medical records saved as drafts</h3> 
                <span>{{' '}}</span>
            </div>
            <div *ngIf="!dataSource" class="loading">
                <app-loading></app-loading>
            </div>
            <div class="page">
                <div *ngIf="userRole==='doctor' && countDrafts> 0">
                    <h2 class="font">Drafts:</h2>
                    <p *ngIf="countDrafts===1">Currently you have {{countDrafts}} medical record saved as draft.</p>
                    <p *ngIf="countDrafts>1">Currently you have {{countDrafts}} medical records saved as drafts.</p>
                </div>
                <div class="table-wrapper">
                    <app-table
                        #appTable 
                        *ngIf="dataSource && displayedColumns && countDrafts> 0"
                        [dataSource]="dataSource" 
                        [displayedColumns]="displayedColumns" 
                        [length]="draftsLength"
                        [userRole]="userRole"
                        (pageChange)="onPageChange($event)"
                        (sortChange)="onSortChange($event)"
                        (filterValue)="onFilterValueChange($event, async)"
                        (rowClick)="onRecordClick($event, async)"
                    >
                    </app-table>

                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>