.page {
    max-width: 75%;
}
.btn-block {
    margin-top: 12rem;
    h1 {
        color:rgb(151, 148, 148);
    }
}
#bg-icon {
     position: absolute;
    font-size: 34rem;
    right: 65px;
    top: 71px;
    transform: rotate(21deg);
    color: darkgray;
    opacity: 0.2;
}