<mat-tab-group
    mat-stretch-tabs="false" 
    mat-align-tabs="start" 
    class="content" 
    (selectedIndexChange)="onTabChange($event)"
    [(selectedIndex)]="selectedIndex"
>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="tab-label">Records</span>
        </ng-template>
        <div>
            <div class="flex-row wrapper info">
                <span class="icon material-symbols-outlined">info</span>
                <h3>This will be all completed medical records</h3> 
                <span>{{' '}}</span>
            </div>
            <div class="page">
                <app-table 
                    *ngIf="recordDataSource && recordsLength > 10"
                    [dataSource]="recordDataSource" 
                    [length]="recordsLength"
                    [userRole]="userRole"
                    (pageChange)="onPageChange($event)"
                    (sortChange)="onSortChange($event)"
                    (filterValue)="onFilterValueChange($event, async)"
                    (recordClick)="onRecordClick($event, async)"
                    (buttonClick)="onButtonClick($event)"
                >
                </app-table>
                <app-accordion     
                    *ngIf="recordsLength <9"
                    [markAppointmentId]="routedAppointmentId"
                    [dataSource]="recordDataSource" 
                    [userRole]="userRole"
                    (buttonClick)="onButtonClick($event)"
                    (recordClick)="onRecordClick($event, async)"
                ></app-accordion> 
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngIf="userRole === 'doctor' && countDrafts > 0">
        <ng-template mat-tab-label>
            <span class="tab-label" >Drafts</span>
        </ng-template>
        <div>
            <div class="flex-row wrapper info">
                <span class="icon material-symbols-outlined">info</span>
                <h3>This will be all medical records saved as drafts</h3> 
                <span>{{' '}}</span>
            </div>
            <div class="page">
                <app-table 
                    *ngIf="draftDataSource && draftsLength > 10"
                    [dataSource]="draftDataSource" 
                    [length]="draftsLength"
                    [userRole]="userRole"
                    (pageChange)="onPageChange($event)"
                    (sortChange)="onSortChange($event)"
                    (filterValue)="onFilterValueChange($event, async)"
                    (recordClick)="onRecordClick($event, async)"
                    (buttonClick)="onButtonClick($event)"
                >
                </app-table>
                <app-accordion     
                    *ngIf="draftsLength <9"
                    [dataSource]="draftDataSource" 
                    [userRole]="userRole"
                    (buttonClick)="onButtonClick($event)"
                    (recordClick)="onRecordClick($event, async)"
                ></app-accordion> 
            </div>
        </div>
    </mat-tab>
</mat-tab-group>